page-personal-history {
  ion-header{
    width: 100%;
    height: 70px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    border: 1px solid rgba(0, 0, 0, 0);
    background-image: linear-gradient(98deg, #fb4b7d 0%, #fe757b 100%);
    justify-content: center;
    display: flex;
    span{
        color: #ffffff;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.19px;
        margin-top: 33px;
    }
    .back{
        position: absolute;
        left:20px;
        top: 22px;
        color: white;
        font-size: 41px;
    }

}
      .grid{
          padding-top: 0 ;        
      }
      .motd {
        margin-left: 20px;
        margin-right: 20px;                      
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 0 0 10px 10px;
        background-color: #ffffff;         
        padding-left: 11px;
        padding-right: 22px;
        p {
          color: #535353;
          font-family:  "Raleway - Medium";
          font-size: 14px;
          font-weight: 500; 
          span{
            font-family: Raleway !important;
            font-weight: 700 !important;
          }
        }     
      }
    .delete-historic-button{
        position: absolute;
        right:5%;
        top:27%;
        background-color: transparent;
    }
    .historic{
      width: 75%;
      .gray-text{
        color: #95989a;
        font-family: "Lato - Regular";
        font-weight: 400;      
        font-size: 12px;
      }
      .dark-text{
        font-size: 12px;
        font-weight: 700;
        color: #606263;
        font-family: Lato;
        text-transform: capitalize; 
      }

    }
    .timing-historic{
      margin-top: 3%;
      float: right;
      margin-right: 7%;
      color: #a8a9aa;
      font-family: Lato;
      font-size: 10px;
      font-weight: 400;
    }
    .avatar-height{
      margin-top: -3% !important;
    }
   .list_row{
     margin-top: 12px;
   }
   .line{
     position: absolute;
     width: 88%;
     left: 6%;
     border: 0.5px solid #ccccd0;
     height: 0;
     bottom: 0;
   }

}
