<ion-content class="back-color" [class.blur]="disabled">
  <ion-grid no-padding class="grid-size">
    <ion-row class="photo-row">
      <ion-col>
        <img class="img-friend" [src]="friend?.coverURL" alt="">
        <div class="x-friend-profil">
          <button class="x-friend-button" (click)="back()">
            <img src="../../assets/imgs/friend-profil/xmlid.svg" alt="" class="x-friend-img">
          </button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="position-info">
      <ion-col>
        <div class="abonnes" *ngIf="friend?.state!='friend'">
          <span class="number" for="">{{formatFollows(friend?.follower)}} </span>   abonnés 
        </div>
        <div class="suivis" *ngIf="friend?.state!='friend'">
          <span class="number" for="">{{formatFollows(friend?.following)}} </span>suivis 
        </div>
        <div class="hideclass" *ngIf="friend?.state=='friend'">
            <img class="hideimg"
             src="../../assets/imgs/friend-follow/hide.svg" alt="">
          </div>
        <div class="suivis" *ngIf="friend?.state=='friend'">
            <span class="number" for="">{{formatFollows(friend?.follower)}} </span>abonnés 
          </div>
        <div class="info-friend">
          <ion-row class="first-row ">
            <ion-col col-8>

              <div class="bee-profile-image">
                <div class="bee-hexagon">
                  <img [src]="friend.photoURL" alt="">
                </div>
              </div>

              <div class="name_place">
                <div class="name-lname">
                  <span>{{friend?.firstName}} {{friend?.lastName}}</span>
                </div>
                <div class="lieu-class">
                  <img class="lieu-img" src="../../assets/imgs/profil/Tracé.svg" alt="">
                  <span class="lieu">
                    {{friend?.gov}} , </span>
                  <span class="age">{{friend?.age}} ans</span>

                </div>
              </div>
            </ion-col>
            <ion-col col-4>
                <!-- [disabled]="friend?.state=='waiting' || friend?.waiting" -->
                <!-- ||friend?.state=='waiting' -->
                <button class="abonne-button arrowBtn"   (click)="WaitingOption()" *ngIf="friend?.state=='waiting'">
                   <span> En attente</span> 
                   <ion-icon ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                  </button>
              <button class="abonne-button" (click)="requestFriend(friend)"
                *ngIf="friend?.state=='unknown'">
                S'abonner
              </button>
              <!-- <ng-template #afriend> -->
                <button class="abonne-button followed" *ngIf="friend?.state=='friend'" (click)="show()">
                <span> Abonné(e)</span>   
                <ion-icon ios="ios-arrow-down" md="ios-arrow-down"></ion-icon>
                </button>
              <!-- </ng-template> -->

            </ion-col>
          </ion-row>
          <ion-row class="para_row">
            <ion-col>
              <div class="para">
                <p class="para-style">{{friend?.bio?friend.bio:'Welcom to my world...'}} </p>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="icons_row">

            <ion-col col-4 class="icons_col" *ngIf="friend?.fbLink">
              <div class="fb-icon">
                <img class="img-fb" src="../../assets/imgs/profil/fb-icon.svg" alt="">
                <a [href]="'https://'+friend.fbLink" class="icons_name" target="_blank"> Facebook</a>
              </div>
            </ion-col>
            <ion-col col-4 class="icons_col" *ngIf="friend?.instaLink">
              <div class="insta-icon">
                <img class="img-insta" src="../../assets/imgs/profil/insta.svg" alt="">
                <a [href]="'https://'+friend.instaLink" target="_new" class="icons_name" for=""> Instagram</a>
              </div>
            </ion-col>
            <ion-col col-4 class="icons_col" *ngIf="friend?.snapLink">
              <div class="snap-icon">
                <img class="img-snap" src="../../assets/imgs/profil/snap-icon.svg" alt="">
                <a [href]="'https://'+friend.snapLink" class="icons_name" target="_new" for=""> Snapchat</a>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class=" space-cols" *ngIf="friend?.state=='friend'">
            <ion-col class="button_col">
              <button class="demander loacalisation"> Demander son localisation</button>
            </ion-col>
            <ion-col class="button_col">
              <button  class="partager loacalisation"> Partager mon localisation</button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
