page-friend-profil {
  .grid-size{
    height: 100%;
    flex-grow: 1;

  }
  .photo-row{
    height: auto;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    text-align: center;
  }
    .profil-friend-part{
        width:100%;
        height: 100%;
        position: relative;
      }
      .img-friend{
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        object-fit: cover;

      }
      .x-friend-profil{
        position: absolute;
        top:28px;
        right: 14px; 
      }
      .x-friend-button{
        background-color: transparent;
    }
    .x-friend-img{
        width: 38px;
        height: 39px;
      }
      .abonnes{
        margin-top: -28px;
        position: absolute;
        margin-left: 11%;
        color: #ffffff;
        font-family: "SFNS Display";
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.17px;
      }
      .suivis{
        position: absolute;
        margin-top: -28px;
        right: 11%; 
        color: #ffffff;
        font-family: "SFNS Display";
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.17px;
      }
      .number{
        color: white;
        font-family: ". Helvetica Neue Desk Interface - Bold";
        font-weight: 700;
        letter-spacing: 0.17px;
        font-size: 14px;
      }
      .hideclass{
        position: absolute;
        margin-top: -30px;
        right: 115px;
      }
      .hideimg{
        width: 23px;
        height: 19px;
      }
      .position-info{
        margin-top: -47px;
      }
      .info-friend{
        width: 100%;
        left: 0px;
        height: 45%;
        height: auto;
        background-color: whitesmoke;
        border-top-right-radius: 47px;
        border-top-left-radius: 47px;
        padding-bottom: 2%;
      }
      .flex-row{
        justify-content: space-between;
        display:flex;
        width: 100%;

      }
      .bee-hexagon {
        clip-path: url(#hexagonPath);
        background-repeat: no-repeat;
        background-position: -3px -15px;
        background-color: transparent;
        height: 100%;
        margin-left: -31px;
        margin-top: -17px;
        img{
          height: 120px;
          width: 120px;
        }
      }
      .bee-profile-image {
        height: 120px;
        width: 120px;
        transform: scale(0.6) ;
      }
      .first-row {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      .name_place{
        width: 58%;
        position: absolute;
        top: 31px;
        left: 82px;
      }
     
      .photo-col{
        top:0px;
        padding: 0px !important;
       }
     
    
      .name-lname{
        color: #333333;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.19px;
        text-transform: capitalize;
      }              
      .lieu-img{
        width: 11px;
        height: 12px;
      }
      .lieu{
        color: #8e8e93;
        font-size: 12px;        
        letter-spacing: 0.14px;
        font-family: "Montserrat - Regular";    
        font-weight: 400;    
      }
      .age{    
        font-family: Montserrat;
        font-weight: 600;            
        letter-spacing: 0.14px;
        color: #8e8e93;
        font-size: 12px;
      }
      .abonne-button{
        margin: 20px 0 0 0;
        position: absolute;
        right: 12px;
        width: 100px;
        height: 34px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 26px;
        background-color: #f92a65;
        color: #ffffff;
        font-family: Raleway;
        font-size: 13px;
        font-weight: 500;
      }
      .followed{
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 26px;
        background-color: #eeeeee;
        color: #333333;
        font-family: "SFNS Display";
        font-size: 13px;
        font-weight: 400;
      }
      .para_row{
        margin-top: -23px;
      }
      .para{
        margin-left: 20px;
        background-color: transparent;        
        color: #5f5f63;
        font-family: "SFNS Display";
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.14px;
        }
        .para-style{
          margin-top: 2%;
          font-size: 12px;
        }
        .icons_row{
          padding-bottom:10%; // modifiable
          justify-content: space-around;
          display:flex;
          width: 100%;
        }
        .icons_col{
          padding-left: 10%;
        }
        .icons_name{
            font-size: 9px;
            position: absolute;
            margin-top: 2px;
            margin-left: 2px;
            text-decoration: none;
            color: #5f5f63;
            font-family: "SFNS Display";
            font-size: 10px;
            font-weight: 400;
            letter-spacing: 0.12px;
          }
          .fb-icon{
            bottom: 1%;
           }
          .img-fb{
            width:15px ;
            height: 15px ;
    
          }
          .insta-icon{
            bottom: 1%;
          }
          .img-insta{
            width:15px;
            height: 16px;
          }
          .snap-icon{
            bottom: 1%;
            margin-right: 44px;
          }
          .img-snap{
            width:16px ;
            height: 16px ;
          }
          .button_col{
            text-align: center;
          }
          .loacalisation{
            width: 82%;
            height: 35px;
            color: #ffffff;
            font-family: Raleway;
            font-size: 11px;
            font-weight: 400;
            letter-spacing: 0.13px;
            min-width: 160px;
            max-width: 180px;
          }
          .demander{
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            border-radius: 50px;
            background-color: #148bb3;
          }
          .partager{
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            border-radius: 50px;
            background-color: #ea376e;
          }
        
}
