page-login {
  .beego-background-overlay {
    background-image: url('../assets/imgs/background1.png');
  }
  .beego-center-container{
      .beego-color-pink{
        font-size: 27px;
        font-weight: 800;
      }
      span{
        color: white;
        font-size: 12px;
        font-weight: 100;
      }
  }
  form{
      text-align: center;
      p{
        margin: auto;
        color: red;
      }
  }
  .beego-circle-btn {
    margin: 0 13px;
  }
  .forget{
    width: 302px;
    color: white;
    font-weight: 100;
    font-size: 8px;
  }
  .btn-login{
      width: 192px;
  }
  .bee-margin1{
    margin-top: 40px;
    width: 294px;
  }
  .bee-margin2 {
    margin-top: 12px;
  }
  .bee-margin3{
    margin-top: 40px;
  }
  .bee-margin4{
    margin-top: 12px;
    padding-bottom: 16px;
    font-size: 10px;
    color: white;
    font-weight: 100;
  }
  .invalid {
    border: 1px solid #a22d2d;
  }
}
