page-space-setting {
    .scroll-content{
        margin-top: 0px !important;
    }
    ion-header{
        height: 70px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border: 1px solid rgba(0, 0, 0, 0);
        background-color: #353b5a;
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.19px;
        padding-top: 26px;
        z-index: 0;
        ion-icon{
            color: white;
            left: 5%;
            font-size: 35px;
            font-size: 38px;
            position: absolute;
            top: 18px;        
        }       
    }
    .scrollHeader{
        z-index: 10 !important;
    }
  .photo-row {
    height: auto;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    text-align: center;
    .img-space {
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .space_setting_header {
        margin-top: 25px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        ion-icon{
            color: white;
            margin-left: 5%;
            font-size: 35px;
        }
        .bg_take_photo{
            background-color: rgba(0, 0, 0, 0.6);
            width: 25px;
            height: 25px;
            border-radius: 50px;
            background-image: url(../../assets/imgs/space_setting/take_photo.svg);
            background-repeat: no-repeat;
            background-size:13px 11px;
            background-position: center center;
            margin-right: 5%;
            margin-top: 4px;
        }
    }
  }
  .category-showOff{
    filter: blur(4px);
}
   .position-info{
    margin-top: -40px;
    .info-space{
        width: 100%;
        left: 0px;
        height: 45%;
        height: auto;
        background-color: #383f60;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        z-index: 2;
        padding-bottom: 20px;
        .hexa_row{
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            margin-top: -57px;
            .bee-hexagon_bg {
                clip-path: url(#hexagonPath);
                background-repeat: no-repeat;
                background-position: -3px -15px;
                background-color: #383f60;
                height: 100%;
                }
                .bee-image_bg{
                height: 120px;
                width: 120px;
                transform: scale(0.96);
                margin: auto;
                position: relative;
                .bg_take_photo{
                    background-color: rgba(0, 0, 0, 0.6);
                    width: 25px;
                    height: 25px;
                    border-radius: 50px;
                    background-image: url(../../assets/imgs/space_setting/take_photo.svg);
                    background-repeat: no-repeat;
                    background-size:13px 11px;
                    background-position: center center;
                    position: absolute;    
                    top: 81px;
                    right: 24px;                  
                }
                }
                .bee-hexagon {
                    clip-path: url(#hexagonPath);
                    background-repeat: no-repeat;
                    background-position: -3px -15px;
                    background-color:transparent;
                    height: 100%;                                      
                    }
                    .bee-image{
                    height: 120px;
                    width: 120px;
                    
                    transform: scale(0.8);
                    }
                    .bee-img-size{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    }
        }
        .space_title{
            width: 100%;
            display: flex;
            justify-content: center;
            color: #ffffff;
            font-family: Raleway;
            font-size: 20px;
            font-weight: 500;
            text-transform: capitalize;
            margin-top: -5px;
        }
        .space_email{
            width: 100%;
            display: flex;
            justify-content: center;
            color: #7a82a5;
            font-size: 12px;
            font-family: "Segoe UI";
            font-weight: 400;
        }
        .setting_title{
            margin-top: 30px;
            margin-left: 20px;
            color: #ffffff;
            font-family: Raleway;
            font-size: 20px;
            font-weight: 500;
            padding-bottom: 15px;
        }
        .space_setting{
            width: 100%;
            height: 60px;     
            position: relative;
            display: flex;
            flex-direction: column;
            padding-top: 16px;
            .img_col{
                width: 60px;
                height: 100%;
                background-color:transparent;
                img{
                    margin-left: 16px;
                    width: 29px;
                }               
            }
            .setting_text{
                width: 100%;
                height: 100%;
                padding-left: 10px;
                color: #ffffff;
                font-size: 16px;
                letter-spacing: -0.32px;
                line-height: 29px;
                font-family: "Segoe UI";
                font-weight: 400;
            }
            ion-icon{
                color: #7a82a5;
                position: absolute;
                right: 6%;
                top: 25px;
            }
            .line{
                height: 1px;
                border: 0.5px solid #c8c7cc4a;
                position: absolute;
                bottom: 0;
                right: 0;
                width: calc( 100% - 60px );
            }
        }
        .dark_row{
            background-color: #323b58;
        }
        .img_row{
            height: 190px ;
            padding-left: 20px;
            padding-top: 7px;
            display: flex;
            flex-direction: column;
            overflow-x: scroll;
            .first_pic{
              width: 195px;
              height: 176px;
              background-color: transparent;
              border-radius: 15px;
              box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
              img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 15px;
              }
            }
            .other_pic{
              position: relative;
              width: 95px;
              height: 176px;
              margin-left: 16px;
              .other_pic_one{
                width: 100%;
                height: 86px;
                position: absolute;
                top: 0;
                background-color: transparent;
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
                border-radius: 15px;
                img{
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                  border-radius: 15px;
                }
              }
              .other_pic_two{
                width: 100%;
                height: 86px;
                position: absolute;
                bottom: 0;
                background-color: transparent; 
                border-radius: 15px;
                box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
                img{
                  height: 100%;
                  width: 100%;
                  object-fit: cover;
                  border-radius: 15px;
                }
              }
            }
            .space{
              width: 26px;
              height: 176px;      
            }
          }
          .add_pic{
              margin-top: 28px;
              width: 100%;
              display: flex;
              justify-content: center;
              .box{
                width: 140px;
                height: 83px;
                border: 1px dashed #e6e7e8;
                border-radius: 10px;
                position: relative;
                padding-left: 18px;
                padding-right: 20px;
                padding-top: 48px;
                text-align: center; 
                letter-spacing: -0.2px;
                line-height: 0.9;
                img{
                    position: absolute;
                    width: 38px;
                    height: 30px;
                    top: 10px;
                    left: 51px;
                }               
                span{
                    color: #ffffff;
                    font-family: Raleway;
                    font-size: 9px;
                    font-weight: 400;
                    font-family: "Segoe UI";
                    font-weight: 400;           
                }
              }
          }
      }
  }
}
