page-special-for-you {
  .our-grid {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
  }
  .searchWrapper {
    top: 15px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    position: absolute;
  }
  .newIcon {
    z-index: 999;
    color: white;
    position: absolute;
    right: calc(8% + 30px);
    top: calc(50% - 8px);
  }
  .search {
    padding: 0px;
    min-height: 0px;
    width: 90vw;
    background: transparent;
    margin: auto;
    z-index: 999;
  }
  .search .searchbar-input {
    background: rgba($color: #000000, $alpha: 0.5);
    color: white !important;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    font-family: "Raleway";
    padding-right: 56px;
    border-radius: 5px;
  }
  .search .searchbar-input::placeholder {
    color: white;
    opacity: 1;
  }
  .for-search {
    position: absolute;
    top: 15px;
    left: 10px;
    right: 10px;
  }
  .text-search {
    background-color: rgba(0, 0, 0, .4);
    border-radius: 5px;
    height: 27px;
    width: 100%;
    border: none;
    padding-left: 37px;
    color: white;
    text-align: center;
    font-family: "Raleway";
  }
  .text-search::placeholder {
    color: white;
    font-size: 13px;
    opacity: 1;
  }
  .search-text-icon {
    position: absolute;
    background-color: transparent;
    top: 5px;
  }
  .search-text-icon:active {
    position: absolute;
    background-color: transparent;
    top: 6px;
  }
  .clear-text {
    position: absolute;
    background-color: transparent;
    top: 6px;
    right: 6px;
  }
  .top {
    height: 233px;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .bottom {
    border-radius: 20px 20px 0px 0px;
    margin-top: -25px;
    background: white;
    flex-grow: 1;
    padding: 5px;
    .result {
      position: absolute;
      top: -25px;
      right: 10px;
      color: white;
      font-weight: 700;
    }
    p {
      margin: 0px;
      font-size: 14px;
      color: grey;
      padding: 15px 21px 15px 21px;
      text-align: center;
    }
    /* The Masonry Container */
    .masonry {
      margin: auto; //max-width: 768px;
      column-gap: auto;
      justify-content: center
    }
    /* The Masonry Brick */
    .item {
      position: relative;
      background: #fff; //padding: 1em; //margin: 0 0 1.5em;
      margin-bottom: 7px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
      img {
        height: auto;
        width: 100%;
        object-fit: cover;
      }
      .data {
        position: absolute;
        bottom: 5px;
        left: 5px;
        right: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
        border-radius: 15px;
        background-color: rgba($color: #535353, $alpha: 0.63);
        padding: 5px 11px 5px 11px;
        .name {
          color: #ffffff;
          font-family: "Raleway";
          font-size: 18px;
          font-weight: 400;
          letter-spacing: 0.22px;
          margin: 0px;
        }
        .location {
          color: #ffffff;
          font-family: "Raleway";
          font-size: 10px;
          font-weight: 400;
          letter-spacing: 0.12px;
        }
      }
    }
    /* Masonry on large screens */
    @media only screen and (min-width: 1024px) {
      .masonry {
        column-count: 4;
      }
    }
    /* Masonry on medium-sized screens */
    @media only screen and (max-width: 1023px) and (min-width: 768px) {
      .masonry {
        column-count: 3;
      }
    }
    /* Masonry on small screens */
    @media only screen and (max-width: 767px) and (min-width: 300px) {
      .masonry {
        column-count: 2;
      }
    }
    .grid-viewr {
      // display: flex;
      // flex-direction: row;
      // flex-wrap: wrap;
      // justify-content: space-evenly;
      .item-grid {
        max-width: 163px;
        height: auto;
        border-radius: 15px;
        img {
          height: auto;
          width: 100%;
          object-fit: cover
        }
      }
    }
  }
}
