page-profil {
  ::-webkit-scrollbar {
    display: none;
  }
  .beego-container-profil {
    position: relative;
    width: 100%;
    height: 100%;
  }
 
  .first-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .take-photo {
    position: absolute;
    top: 23px;
    right: 44px;
  }
  .take-photo-button {
    background-color: transparent;
  }
  .take-photo-img {
    width: 29px;
    height: 29px;
  }
  .take-photo-img:active {
    transform: scale(0.8);
  }
  .param-profil {
    position: absolute;
    top: 24px;
    right: 14px;
    height: 29px;
    width: 29px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .button-param {
    background-color: transparent;
  }
  .img-param {
    width: 20px;
    height: 26px;
  }
  .abonnés {
    position: absolute;
    top: 75%;
    left: 10%;
  }
  .suivis {
    position: absolute;
    top: 75%;
    left: 73%;
  }
  .abonnés-number {
    color: white;
  }
  .suivis-number {
    color: white;
  }
  .position-info {
    margin-top: 227px;
  }
  .info-profil {
    width: 100%;
    left: 0px;
    background-color: white;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    padding-bottom: 15px;
  }
  .back-color {
    background-color: whitesmoke;
  }
  .profil-photo-part {
    position: fixed;
    width: 100%;
    height: 270px;
    .img-space{
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .bee-inner-cover {
    display: block;
    position:  relative;
  }
  .cover-unset .bee-inner-cover{
    height: 100%;
    background-image: url(../../assets/imgs/photoDeProfil.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .bee-cover{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    .bee-inner-cover {
      width: 95%;
      max-width: 700px;
      margin: auto;
      img{
        width: 100%;
      }

    }
  }
  .bee-cover-blur {
    display: flex;
    position: absolute;
    left: -6px;
    right: -6px;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    filter: blur(8px);
    overflow: hidden;
    .bee-inner-cover {
      width: 100%;
      img{
        width: 100%;
        min-height: 270px;
      }

    }
  }
  .bee-hexagon {
    clip-path: url(#hexagonPath);
    background-repeat: no-repeat;
    background-position: -3px -15px;
    background-color: transparent;
    height: 100%;
    img{
      min-height: 100%;
      min-width: 100%;
    }
  }
  .bee-profile-image {
    height: 120px;
    width: 120px;
    transform: scale(0.6) translate(-40px, -40px);
  }
  .name_place{
    width: 58%;
    position: absolute;
    top: 31px;
    left: 82px;
  }
  
  .nom {
    color: #333333;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.19px;
    text-transform: capitalize;
  }
  .lieu-class {
    margin-top: 2px;
  }
  .lieu-img {
    width: 11px;
    height: 12px;
  }
  .lieu {
    color: #8e8e93;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.14px;
  }
  .follows-button {
    margin: 20px 0 0 0;
    position: absolute;
    right: 9px;
    width: 106px;
    height: 34px;
    border-radius: 26px;
    background-color: #eeeeee;
    color: #8e8e93;
    font-family: Raleway;
    font-size: 13px;
    font-weight: 500;
  }
  .follows-img {
    padding-left: 9%;
    width: 19px;
  }
  .para {
    margin-left: 27px;
    background-color: transparent;
    padding-bottom: 2%;
  }
  .para-style {
    margin-top: 2%;
    color: #5f5f63;
    font-family: "SFNS Display";
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.14px;
  }
  .icons_row{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .nomprenom {
    bottom: 28%;
    position: absolute;
    padding-left: 2px;
    text-decoration: none;
    color: #5f5f63;
    font-family: "SFNS Display";
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 0.12px;
  }
  .fb-icon {
    position: absolute;
    margin-left: 32%;
    bottom: 1%;    
    width: 100%;
  }
  .img-fb {
    width: 15px;
    height: 15px;
  }
  .insta-icon {
    position: absolute;
    bottom: 1%;
    margin-left: 16%;
    width: 100%;
  }
  .img-insta {
    width: 15px;
    height: 16px;
  }
  .snap-icon {
    bottom: 1%;
    position: absolute;
    margin-left: 0%;
    width: 100%;
  }
  .img-snap {
    width: 16px;
    height: 16px;
  }
  .line_row{
    margin-top: 10px;
  }
  .ligne {
    height: 0;
    border: 1px solid #dadada;
    width: 88%;
    margin-left: 6%;
  }
  .mesfavoris {
    // position: absolute;
    // margin-top: 3%;
    // left: 10%;
    color: #333333;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
  }
  .first-photo {
    margin-top: 12%;
    margin-left: 6%;
    width: 180px;
    height: 180px;
    border-radius: 30px;
    background-image: url(../../assets/imgs/whats_up.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .photo-col {
    top: 0px;
    padding: 0px !important;
  }
  .take-photo-2 {
    position: relative;
    margin-top: -32%;
    margin-left: 57%;
  }
  .bee-profile-image-holder {
    width: 72px;
    height: 72px;
    margin: 10px 0px 0 0px;  
  }
  .img_row{
    height: 190px ;
    padding-left: 20px;
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    .first_pic{
      width: 195px;
      height: 176px;
      background-color: transparent;
      border-radius: 15px;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
      }
    }
    .other_pic{
      position: relative;
      width: 95px;
      height: 176px;
      margin-left: 16px;
      .other_pic_one{
        width: 100%;
        height: 86px;
        position: absolute;
        top: 0;
        background-color: transparent;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
        border-radius: 15px;
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 15px;
        }
      }
      .other_pic_two{
        width: 100%;
        height: 86px;
        position: absolute;
        bottom: 0;
        background-color: transparent; 
        border-radius: 15px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 15px;
        }
      }
    }
    .space{
      width: 26px;
      height: 176px;      
    }
  }
}