page-profil {
  ::-webkit-scrollbar {
    display: none;
  }
  .beego-container-profil {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .arrow-right {
    position: absolute;
    top: 30px;
    left: 4px;
  }
  .first-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .back-button-right {
    background-color: transparent;
  }
  .img-right {
    width: 63%;
  }
  .take-photo {
    position: absolute;
    top: 23px;
    right: 44px;
  }
  .take-photo-button {
    background-color: transparent;
  }
  .take-photo-img {
    width: 29px;
    height: 29;
  }
  .take-photo-img:active {
    transform: scale(0.8);
  }
  .param-profil {
    position: absolute;
    top: 28px;
    right: 14px;
  }
  .button-param {
    background-color: transparent;
  }
  .img-param {
    width: 20px;
    height: 19px;
  }
  .abonnés {
    position: absolute;
    top: 75%;
    left: 10%;
  }
  .suivis {
    position: absolute;
    top: 75%;
    left: 73%;
  }
  .abonnés-number {
    color: white;
  }
  .suivis-number {
    color: white;
  }
  .position-info {
    margin-top: 227px;
  }
  .info-profil {
    width: 100%;
    left: 0px;
    background-color: whitesmoke;
    border-top-right-radius: 47px;
    border-top-left-radius: 47px;
  }
  .back-color {
    background-color: whitesmoke;
  }
  .profil-photo-part {
    position: fixed;
    // background-image: url(../../assets/imgs/photoDeProfil.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center bottom;
    width: 100%;
    height: 270px;
  }
  .bee-inner-cover {
    display: block;
    position:  relative;
  }
  .cover-unset .bee-inner-cover{
    height: 100%;
    background-image: url(../../assets/imgs/photoDeProfil.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .bee-cover{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    .bee-inner-cover {
      width: 95%;
      max-width: 700px;
      margin: auto;
      img{
        width: 100%;
      }

    }
  }
  .bee-cover-blur {
    display: flex;
    position: absolute;
    left: -6px;
    right: -6px;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    filter: blur(8px);
    overflow: hidden;
    .bee-inner-cover {
      width: 100%;
      img{
        width: 100%;
        min-height: 270px;
      }

    }
  }
  .bee-hexagon {
    clip-path: url(#hexagonPath);
    background-repeat: no-repeat;
    background-position: -3px -15px;
    background-color: transparent;
    height: 100%;
    img{
      min-height: 100%;
      min-width: 100%;
    }
  }
  .bee-profile-image {
    height: 120px;
    width: 120px;
    transform: scale(0.6) translate(-40px, -40px);
  }
  .name-lname {
    margin-top: 20px;
  }
  .nom {
    font-weight: bolder;
    font-size: 16px;
  }
  .lieu-class {
    margin-top: 2px;
  }
  .lieu-img {
    width: 11px;
    height: 12px;
  }
  .lieu {
    font-size: 10px;
  }
  .follows {
    border-radius: 23px;
    background-color: rgba(218, 223, 233, 0.993);
    width: 85PX;
    height: 28px;
    margin: 20px 25px 0 0;
  }
  .follows-button {
    background-color: transparent;
    padding-top: 10%;
    padding-left: 18%;
    font-size: 12px;
  }
  .follows-img {
    padding-left: 9%;
    width: 14px;
  }
  .para {
    margin-left: 27px;
    background-color: transparent;
    padding-bottom: 2%;
  }
  .para-style {
    margin-top: 2%;
    font-size: 12px;
  }
  .nomprenom {
    font-size: 9px;
    bottom: 28%;
    position: absolute;
    padding-left: 16px;
    color: inherit;
    text-decoration: none;
  }
  .fb-icon {
    position: absolute;
    margin-left: 32%;
    bottom: 1%;
  }
  .img-fb {
    width: 15px;
    height: 15px;
  }
  .insta-icon {
    position: absolute;
    bottom: 1%;
    margin-left: 16%;
  }
  .img-insta {
    width: 15px;
    height: 16px;
  }
  .snap-icon {
    bottom: 1%;
    position: absolute;
    margin-left: 0%;
  }
  .img-snap {
    width: 16px;
    height: 16px;
  }
  .ligne {
    position: absolute;
    left: 10%;
    right: 13%;
    margin-top: 1%;
  }
  .mesfavoris {
    position: absolute;
    margin-top: 3%;
    left: 10%;
  }
  .first-photo {
    margin-top: 12%;
    margin-left: 6%;
    width: 180px;
    height: 180px;
    border-radius: 30px;
    background-image: url(../../assets/imgs/whats_up.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .photo-col {
    top: 0px;
    padding: 0px !important;
  }
  .take-photo-2 {
    position: relative;
    margin-top: -32%;
    margin-left: 57%;
  }
  .bee-profile-image-holder {
    width: 72px;
    height: 72px;
    margin: 10px 0px 0 19px;
  }
}
