<!--
  Generated template for the BeeSensorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>BeeSensor</ion-title>
    <ion-buttons end>
      <!-- <ion-select [(ngModel)]="timeUnite">
        <ion-option *ngFor="let x of timeUnite" [value]="x.val">{{x.name}}</ion-option>
      </ion-select> -->
      <button class="headerBtn" ion-button small clear color="light" (click)="timeUnitOpen = !timeUnitOpen">{{timeUnite[selectedTimeUnite].name}}</button>
    </ion-buttons>
  </ion-navbar>
  <div class="uniteZone animated fadeIn" *ngIf="timeUnitOpen">
    <div class="row-scroller" nowrap>
      <button [class.activeTimeBtn]="timeu.val == selectedTimeUnite" class="timebtn" (click)="selectedTimeUnite = timeu.val"
        clear small *ngFor="let timeu of timeUnite">{{timeu.name}}</button>
    </div>
  </div>
</ion-header>


<ion-content>
  <div class="chartSelector">
    <button ion-button round small [class.activatedBtn]='selectedChartsCat == "all"' (click)="selectedChartsCat='all'">All</button>
    <button ion-button round small [class.activatedBtn]='selectedChartsCat == "guest"' (click)='selectedChartsCat="guest"'>Bee
      Guest</button>
    <button ion-button round small [class.activatedBtn]='selectedChartsCat == "traffic"' (click)="selectedChartsCat='traffic'">Bee
      Traffic</button>
    <button ion-button round small [class.activatedBtn]='selectedChartsCat == "sensor"' (click)="selectedChartsCat='sensor'">Bee
      Sensor</button>
    <button ion-button round small [class.activatedBtn]='selectedChartsCat == "smile"' (click)="selectedChartsCat='smile'">Bee
      Smile
    </button>

  </div>
  <div class="chartsHolder">
    <div class="chartPlace" [hidden]="!(selectedChartsCat == 'all' || selectedChartsCat==charts[0].type)">
      <div class="chartTitle">
        <span>Bee {{charts[0].type}} :</span>
        <span>{{charts[0].name}}</span>
      </div>
      <div class="chartZone">
        <ngx-charts-bar-vertical [view]="" [scheme]="charts[0].colorScheme" [results]="charts[0].data" [gradient]="chartConfig.gradient"
          [xAxis]="chartConfig.showXAxis" [yAxis]="chartConfig.showYAxis" [legend]="chartConfig.showLegend"
          [showXAxisLabel]="chartConfig.showXAxisLabel" [barPadding]="chartConfig.padding" [showGridLines]="false"
          [showYAxisLabel]="chartConfig.showYAxisLabel">
        </ngx-charts-bar-vertical>
      </div>
    </div>
    <div class="chartPlace" [hidden]="!(selectedChartsCat == 'all' || selectedChartsCat==charts[3].type)">
      <div class="chartTitle">
        <span>Bee {{charts[3].type}} :</span>
        <span>{{charts[3].name}}</span>
      </div>
      <div class="chartZone">
        <ngx-charts-bar-vertical [view]="" [scheme]="charts[3].colorScheme" [results]="charts[3].data" [gradient]="chartConfig.gradient"
          [xAxis]="chartConfig.showXAxis" [yAxis]="chartConfig.showYAxis" [legend]="chartConfig.showLegend"
          [showXAxisLabel]="chartConfig.showXAxisLabel" [yScaleMax]="100" [barPadding]="chartConfig.padding"
          [showGridLines]="false" [showYAxisLabel]="chartConfig.showYAxisLabel">
        </ngx-charts-bar-vertical>
      </div>
    </div>
    <div class="chartPlace" [hidden]="!(selectedChartsCat == 'all' || selectedChartsCat==charts[1].type)">
      <div class="chartTitle">
        <span>Bee {{charts[1].type}} :</span>
        <span>{{charts[1].name}}</span>
      </div>
      <div class="chartZone">
        <ngx-charts-bar-vertical [view]="" [scheme]="charts[1].colorScheme" [results]="charts[1].data" [gradient]="chartConfig.gradient"
          [xAxis]="chartConfig.showXAxis" [yAxis]="chartConfig.showYAxis" [legend]="chartConfig.showLegend"
          [showXAxisLabel]="chartConfig.showXAxisLabel" [barPadding]="chartConfig.padding" [showGridLines]="false"
          [showYAxisLabel]="chartConfig.showYAxisLabel">
        </ngx-charts-bar-vertical>
      </div>
    </div>
    <div class="chartPlace" [hidden]="!(selectedChartsCat == 'all' || selectedChartsCat==charts[4].type)">
      <div class="chartTitle">
        <span>Bee {{charts[4].type}} :</span>
        <span>{{charts[4].name}}</span>
      </div>
      <div class="chartZone">
        <google-chart [data]="charts[4].data"></google-chart>
      </div>
    </div>
    <div class="chartPlace" [hidden]="!(selectedChartsCat == 'all' || selectedChartsCat==charts[2].type)">
      <div class="chartTitle">
        <span>répartition des visiteurs :</span>
        <span>no no</span>
      </div>
      <div class="chartZone horizontal-label-zone">
        <div class="labelZone">
          <div class="label" *ngFor="let item of charts[2].data;let i = index">
            <div class="color" [ngStyle]="{'background':charts[2].colorScheme.domain[i]}"></div>
            <div class="text">{{item.name}}</div>
          </div>
        </div>
        <div>
          <ngx-charts-pie-chart class="chart-container" [view]="" [scheme]="charts[2].colorScheme" [results]="charts[2].data"
            [animations]="true" [legend]="false" [arcWidth]="0.40" [doughnut]="true" [arcWidth]="arcWidth" [gradient]="false">
          </ngx-charts-pie-chart>
        </div>
      </div>
    </div>
    <div class="chartPlace" [hidden]="!(selectedChartsCat==charts[5].type)">
      <div class="chartTitle">
        <span>Bee {{charts[5].type}} :</span>
        <span>{{charts[5].name}}</span>
      </div>
      <div class="chartZone">
        <ngx-charts-line-chart [view]="" [scheme]="charts[5].colorScheme" [results]="charts[5].data" [gradient]="chartConfig.gradient"
          [xAxis]="chartConfig.showXAxis" [yAxis]="chartConfig.showYAxis" [legend]="chartConfig.showLegend"
          [roundDomains]="true" [showXAxisLabel]="chartConfig.showXAxisLabel" [showGridLines]="false" [showYAxisLabel]="chartConfig.showYAxisLabel">
        </ngx-charts-line-chart>
      </div>
    </div>
    <div class="chartPlace" [hidden]="!(selectedChartsCat==charts[6].type)">
      <div class="chartTitle">
        <span>Bee {{charts[6].type}} :</span>
        <span>{{charts[6].name}}</span>
      </div>
      <div class="chartZone vertical-label-zone">
        <!-- <div class="labelZone labelZone-End">
          <div class="label" *ngFor="let item of charts[6].data;let i = index">
            <div class="color" [ngStyle]="{'background':charts[6].colorScheme.domain[i]}"></div>
            <div class="text">{{item.name}}</div>
          </div>
        </div>
        <div class="dumy-wrapper"> -->
        <ngx-charts-line-chart [view]="" [scheme]="charts[6].colorScheme" [results]="charts[6].data" [gradient]="chartConfig.gradient"
          [xAxis]="chartConfig.showXAxis" [yAxis]="chartConfig.showYAxis" [legend]="chartConfig.showLegend" [autoScale]="true"
          [roundDomains]="true" [showXAxisLabel]="chartConfig.showXAxisLabel" [yAxisTickFormatting]="timeAxeY"
          [showGridLines]="false" [showYAxisLabel]="chartConfig.showYAxisLabel">
          <ng-template #tooltipTemplate let-model="model">
            <p>{{model.name}}: {{timeAxeY(model.value)}}</p>
          </ng-template>
        </ngx-charts-line-chart>
        <!-- </div> -->
      </div>
    </div>
  </div>

</ion-content>
