<!--
  Generated template for the BeeSensorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>BeeSensor</ion-title>
    <ion-buttons end>
      <!-- <ion-select [(ngModel)]="timeUnite">
        <ion-option *ngFor="let x of timeUnite" [value]="x.val">{{x.name}}</ion-option>
      </ion-select> -->
      <button class="headerBtn" ion-button small clear color="light" (click)="timeUnitOpen = !timeUnitOpen">{{timeUnite[selectedTimeUnite].name}}</button>
    </ion-buttons>
  </ion-navbar>
  <div class="uniteZone animated fadeIn" *ngIf="timeUnitOpen">
    <div class="row-scroller" nowrap>
      <button [class.activeTimeBtn]="timeu.val == selectedTimeUnite" class="timebtn" (click)="selectedTimeUnite = timeu.val"
        clear small *ngFor="let timeu of timeUnite">{{timeu.name}}</button>
    </div>
  </div>
</ion-header>


<ion-content>
  <div class="chartSelector">
    <button ion-button round small [class.activatedBtn]='selectedChartsCat == "all"' (click)="selectedChartsCat='all'">All</button>
    <button ion-button round small [class.activatedBtn]='selectedChartsCat == "guest"' (click)='selectedChartsCat="guest"'>Bee
      Guest</button>
    <button ion-button round small [class.activatedBtn]='selectedChartsCat == "traffic"' (click)="selectedChartsCat='traffic'">Bee
      Traffic</button>
    <button ion-button round small [class.activatedBtn]='selectedChartsCat == "sensor"' (click)="selectedChartsCat='sensor'">Bee
      Sensor</button>

  </div>
  <div class="chartsHolder">
    <div class="chartPlace" [hidden]="!(selectedChartsCat == 'all' || selectedChartsCat=='guest')">
      <div class="chartTitle">
        <span>Bee Guest :</span>
        <span>{{charts[0].name}}</span>
      </div>
      <div class="chartZone">
        <ngx-charts-bar-vertical [view]="" [scheme]="charts[0].colorScheme" [results]="charts[0].data" [gradient]="chartConfig.gradient"
          [xAxis]="chartConfig.showXAxis" [yAxis]="chartConfig.showYAxis" [legend]="chartConfig.showLegend"
          [showXAxisLabel]="chartConfig.showXAxisLabel" [barPadding]="chartConfig.padding" [showGridLines]="false"
          [showYAxisLabel]="chartConfig.showYAxisLabel">
        </ngx-charts-bar-vertical>
      </div>
    </div>
    <div class="chartPlace" [hidden]="!(selectedChartsCat == 'all' || selectedChartsCat=='guest')">
      <div class="chartTitle">
        <span>Bee Traffic :</span>
        <span>{{charts[1].name}}</span>
      </div>
      <div class="chartZone">
        <ngx-charts-bar-vertical [view]="" [scheme]="charts[1].colorScheme" [results]="charts[1].data" [gradient]="chartConfig.gradient"
          [xAxis]="chartConfig.showXAxis" [yAxis]="chartConfig.showYAxis" [legend]="chartConfig.showLegend"
          [showXAxisLabel]="chartConfig.showXAxisLabel" [barPadding]="chartConfig.padding" [showGridLines]="false"
          [showYAxisLabel]="chartConfig.showYAxisLabel">
        </ngx-charts-bar-vertical>
      </div>
    </div>
  </div>

</ion-content>
