@import url("https://fonts.googleapis.com/css?family=Raleway");

page-bee-sensor {
  font-family: "Raleway";

  ion-header {
    background: #353B5A;

    ion-title {
      .toolbar-title {
        font-size: 16px;
        color: white;
        font-weight: 400;
      }
    }

    .toolbar-background {
      background: #353B5A;
    }

    .headerBtn {
      font-size: 12px;
      color: rgba($color: #FFFFFF, $alpha: .42)
    }

    .uniteZone {
      background: url(../../assets/imgs/beeSensor_img/rect.svg) no-repeat;
      background-position: 50% 90%;
      background-size: 30%;
      padding-bottom: 30px;

      .row-scroller {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding-bottom: 10px;

        .timebtn {
          background: transparent;
          color: rgba($color: #FFFFFF, $alpha: .3);
          margin-left: 10px;
          margin-right: 10px;
          font-size: 14px;
        }

        .activeTimeBtn {
          color: #FFFFFF;
        }
      }
    }
  }

  /**
   * ios fix
   */
  .header-ios {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .16);
  }

  .chartSelector {
    background: #343B58;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
    scrollbar-base-color: transparent;
    overflow-x: scroll;
    padding-left: 5px;

    button {
      box-shadow: 0px 3px 3px rgba(0, 0, 0, .16);
      background: #3F4A6E;
      font-size: 12px;
      min-width: 100px;
    }

    .activatedBtn {
      background: #F22876;
    }
  }

  .chartsHolder {
    background: #383F60;
    padding: 5px;
    min-height: 100%;
    padding-top: 30px;

    .chartPlace {
      height: 240px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      padding-bottom: 25px;

      .chartTitle {
        display: inline;
        padding-left: 10px;
        padding-bottom: 10px;
        text-transform: capitalize;

        span:nth-of-type(1) {
          font-size: 16px;
          color: white;
          padding-right: 10px;
        }

        span:nth-of-type(2) {
          font-size: 16px;
          color: #C3C8DB
        }
      }

      .chartZone {
        position: relative;
        display: flex;
        justify-content: space-between;
      }

      .vertical-label-zone {
        flex-direction: column;

        .dumy-wrapper {
          height: 100%;
          width: 100%;
        }

        .labelZone {
          display: flex;
          flex-direction: row;
          justify-content: center;
          max-height: 10%;

          .label {
            display: flex;
            flex-direction: row;
            padding: 5px;

            .color {
              height: 8px;
              width: 8px;
              border-radius: 50%;
              margin-right: 8px;
              margin-top: 2px;
            }

            .text {
              font-size: 10px;
              font-weight: 400;
              color: white;
            }
          }
        }
      }

      .horizontal-label-zone {
        flex-direction: row;

        .labelZone {
          display: flex;
          flex-direction: column;
          max-width: 30%;
          min-width: 30%;
          justify-content: center;
          padding-left: 10px;

          .label {
            display: flex;
            flex-direction: row;
            padding: 5px 0px 5px 0px;

            .color {
              height: 8px;
              width: 8px;
              border-radius: 50%;
              margin-right: 15px;
            }

            .text {
              font-size: 10px;
              font-weight: 400;
              color: white;
            }
          }
        }
      }
    }
  }

  ngx-charts-chart {
    height: 185px;
    flex-grow: auto;

    text {
      fill: white !important;
      font-size: 8px !important;
    }
  }
}
