page-signup1 {
  .bee-separator {
    position: relative;
    height: 1px;
    width: 42px;
    background-color: gray;
    color: gray;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .bee-separator::before,
  .bee-separator::after {
    content: ".";
    text-align: center;
    line-height: 1px;
    font-size: 25px;
    font-weight: 900;
    display: block;
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: -9px;
  }
  .bee-separator::before {
    left: -24px;
  }
  .bee-separator::after {
    right: -24px;
  }
  .bee-separator-full,
    {
    background-color: #FB6B94;
    color: #FB6B94;
  }
  .bee-separator.bee-separator-full::after,
  .bee-separator::before {
    color: #FB6B94;
    border: 1px solid;
  }
  .beego-center-container {
    .beego-color-pink {
      font-size: 27px;
      font-weight: 800;
    }
    span {
      color: white;
      font-size: 12px;
      font-weight: 100;
    }
  }
  form {
    text-align: center;
  }
  .beego-circle-btn {
    margin: 0 13px;
  }
  .forget {
    width: 302px;
    color: white;
    font-weight: 100;
    font-size: 8px;
  }
  .btn-login {
    width: 192px;
  }
  .bee-btn-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../../assets/imgs/arrow.png);
    background-position: -2px 12px;
    background-repeat: no-repeat;
    background-size: 45px;
}
  .bee-margin1 {
    margin-top: 2px;
    width: 294px;
  }
  .bee-margin2 {
    margin-top: 14px;
  }
  .bee-margin3 {
    margin-top: 24px;
  }
  .bee-margin4 {
    margin-top: 12px;
    padding-bottom: 16px;
    font-size: 10px;
    color: white;
    font-weight: 100;
  } // .att{
  //     font-weight: 500;
  //     font-style: italic;
  // }
  // .dnn{
  //     font-weight: 300;
  //     font-style: italic;
  // }
  // .bg-img {
  //     position: relative;
  //     width: 100%;
  //     height: 100%;
  //     background: url('../assets/imgs/Background.png') center center no-repeat;
  //     background-size: cover;
  //     &:before {
  //       content: '';
  //       position: absolute;
  //       top: 0;
  //       right: 0;
  //       bottom: 0;
  //       left: 0;
  //       background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
  //       opacity: .6;
  //     }
  //   }
  //   .backimageadd{
  //       background-image: url("../../assets/imgs/background.png") ;
  //     }
  //       .skip{
  //           color:white;
  //           font-size: 15px;
  //       }
  //       .flechicon{
  //         font-size: 10px !important;
  //         margin-bottom: 9px;
  //         margin-right: 6px;
  //       }
  // .div1{
  //     margin-left: auto;
  //     margin-right: auto;
  //     width: 100%;
  //     text-align: center;
  //     margin-top: 0%;
  // }
  // .logo{
  // }
  // .bienvenu{
  //     color:rgb(255, 102, 153)    ;
  //     margin-top: 5%;
  //     font-weight:bold;
  //     // margin-right: 67%;
  // }
  // .info{
  //     color: white;
  //     font-size: 10px;
  // }
  // .div2{
  //     margin-top: 0%;
  // }
  // .form{
  //     margin-left: 8%;
  //     margin-top: 0%;
  // }
  // .ff{
  //     border-radius: 12px;
  //     height: 30px;
  //     width: 210px;
  //     background-color: rgba(0,0,0,0.2);
  //     padding-left: 45px;
  //     border:none;
  //     color:white !important;
  // }
  // .ff::placeholder {
  //     color: white;
  //     font-size: 11px;
  //  }
  // .ff-nom{
  //     background-image: url(../../assets/imgs/nomprenom.png) ;
  //     background-repeat: no-repeat;
  //     background-position:  12px;
  // }
  // .ff-mail{
  //     background-image: url(../../assets/imgs/mail.png) ;
  //     background-repeat: no-repeat;
  //     background-position:  12px;
  // }
  // .ff-mdp{
  //     background-image: url(../../assets/imgs/mdp.png) ;
  //     background-repeat: no-repeat;
  //     background-position:  12px;
  // }
  // .ligne{
  //     width: 34px;
  // }
  // .cercle{
  //     margin: 0 auto;
  //     width: 10%;
  // }
  // .ser{
  //     border-radius:50%;
  //     width:32px;
  //     height:32px;
  //     border-radius:50%;
  //     background-color: palevioletred;
  //     background-image: url(../../assets/imgs/butt.png);
  //     background-repeat: no-repeat;
  //     background-position: center;
  // }
  // .hr1{
  //     width: 34px;
  // }
  // .hr2{
  //     width: 34px;
  // }
  // .idrs{
  //     margin: 0 auto;
  //     width: 50%;
  //     color: white !important;
  //     margin-top: 3%;
  //     font-size: 8px;
  // }
  // .iconn{
  //     display: inherit;
  //     vertical-align: middle;
  //   margin: auto;
  //   margin-top: 3%;
  //   margin-left: 38%;
  // }
  // .bee-separator {
  //     position: relative;
  //     height: 2px;
  //     width: 60px;
  //     background-color: gray;
  //     color: gray;
  //     margin:40px auto;
  //  }
  //  .bee-separator::before,
  //  .bee-separator::after{
  //     content: ".";
  //     text-align: center;
  //     line-height: 1px;
  //     font-size: 25px;
  //     font-weight: 900;
  //     display: block;
  //     position: absolute;
  //     height: 15px;
  //     width: 15px;
  //     border-radius: 50%;
  //     top: -9px;
  //  }
  //  .bee-separator::before{
  //     color: #E91E63;
  //     border: 2px solid;
  //     left: -24px;
  //  }
  //  .bee-separator::after{
  //     right: -24px;
  //  }
  // .bien{
  //     margin-top: 10%;
  //     margin: 0 auto;
  //     width: 25%;
  //     color:white;
  //     font-size: 11px;
  //     text-align: center;
  //     position: relative;
  //     &::before,&::after{
  //         content : "";
  //         position: absolute;
  //         width:140%;
  //         top: 8px;
  //         background-color: white;
  //         height: 1px;
  //     }
  //     &::before{
  //         right:100%;
  //     }
  //     &::after{
  //         left:100%;
  //     }
  // }
}
