<!--
  Generated template for the AddShoppingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-navbar color="transparent">
      <!-- S -->
      <ion-buttons end>
        <button ion-button icon-only (click) ="skip()" class="beego-skip-button beego-text-transform-none">Skip
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>




<ion-content class="beego-background-overlay"  >
    <ion-grid>
        <ion-row>
          <ion-col text-center>

            <img src="../../assets/imgs/beegologo.png">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>

            <div class="beego-center-container bee-margin1">
                <div class="beego-color-pink">
                  Bienvenu,
                </div>
                <span>Saisissez vos coordonnés pour vous connecter</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
            <div class="beego-separator"></div>
        </ion-row>
        <ion-row>
          <ion-col>

            <form (submit)="next()" [formGroup]="signupForm" novalidate>
              <ion-row>
                <input type="text" 
                  class="beego-input-transparent beego-icon-name bee-margin2" 
                  placeholder="Nom"
                  formControlName="firstName">
              </ion-row>
              <ion-row>
                  <p *ngIf="!signupForm.controls.firstName.valid && signupForm.controls.firstName.touched" >invalid nom</p>
              </ion-row>
              <ion-row>
                <input type="email" 
                class="beego-input-transparent beego-icon-name bee-margin2" 
                placeholder="Prénom"
                formControlName="lastName">
                
              </ion-row>
              <ion-row>
                  <p *ngIf="!signupForm.controls.lastName.valid && signupForm.controls.lastName.touched" >invalid nom</p>
              </ion-row>
              <ion-row>
                <input type="email" 
                class="beego-input-transparent beego-icon-mail bee-margin2" 
                placeholder="Adresse mail"
                formControlName="email">
                
              </ion-row>
              <ion-row>
                  <p *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.touched" >invalid nom</p>
              </ion-row>
              <ion-row>
                <input type="password" 
                class="beego-input-transparent beego-icon-lock bee-margin2" 
                placeholder="Mot de passe"
                formControlName="password">
                
              </ion-row>
              <ion-row>
                  <p *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.touched" >invalid nom</p>
              </ion-row>
              
              <ion-row>
                
                <div class="beego-center-container">
                  <button ion-button 
                    class="beego-background-pink bee-btn-next bee-margin3"
                    [disabled]="!signupForm.valid">
                  </button>
                </div>
              </ion-row>
              
             
                 
              </form>
          </ion-col>
        </ion-row>
        <ion-row>
          <div class="beego-dash-text bee-margin2">
            Ou Bien
          </div>
        </ion-row>
        <ion-row>
          <div class="beego-center-container bee-margin4">
            S'identifier avec les reseaux sociaux
          </div>
        </ion-row>
        <ion-row>
            <div class="beego-center-container">
              <button class="beego-circle-btn beego-icon-facebook" ></button>

              <button class="beego-circle-btn beego-icon-google" (click)="loginWithGoogle()" ></button>
            </div>
        </ion-row>

      </ion-grid>
    <!-- <div class="div1">
      <div class="logo">
        <img src="../../assets/imgs/beegologo.png" alt="">
      </div>
      <div class="bienvenu">
        <h4 class="bienvenue">Bienvenu,</h4> 

      </div>
      <div class="info">
        Saisie vos coord pour que vous connecter
      </div>
      <div class="div2">
        <div class="bee-separator"></div>
        
      </div>
      <div class="form">
          <form>
              <div class="form-group">
                
                <input type="text" class="ff ff-nom" id="formGroupExampleInput" placeholder="Nom">
              </div>
              <div class="form-group">
                
                <input type="text" class="ff ff-nom" id="formGroupExampleInput2" placeholder="Prénom">
              </div>
              <div class="form-group">
                
                  <input type="text" class="ff ff-mail" id="formGroupExampleInput2" placeholder="Adresse mail">
                </div>
                 <div class="form-group">
                
                <input type="password" class="ff ff-mdp" id="formGroupExampleInput2" placeholder="Mot de passe">
              </div>
            </form>
      </div>
      <div class="cercle" (click)="next()" >
        <button class="ser" ></button>
      </div>
     
      <div class="bien">Ou bien</div>

      <div class="idrs">
        s'identifier avec les reseaux sosiaux
      </div>
      <div class="iconn">
        
        <img src="../../assets/imgs/Facebook btn.png" alt="">
          <img src="../../assets/imgs/google-plus.png" alt="">
     
        </div>
          

        </div> -->
</ion-content>
