page-espace-home {
  .home-side-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3f4a6e;
    .menu-stylesh {
      position: absolute;
      width: 100vw;
      left: 0;
      top: 0;
      height: 100%; //perfomance fix
      .imgBack {
        position: absolute;
        width: 100vw;
        object-fit: cover;
        height: 40vh;
      }
      .overlay {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: -moz-linear-gradient( top, rgba(229, 229, 229, 0) 0%, rgba(57, 65, 102, 0.61) 19%, rgba(57, 65, 102, 1) 30%, rgba(57, 65, 102, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient( top, rgba(229, 229, 229, 0) 0%, rgba(57, 65, 102, 0.61) 19%, rgba(57, 65, 102, 1) 30%, rgba(57, 65, 102, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient( to bottom, rgba(229, 229, 229, 0) 0%, rgba(57, 65, 102, 0.61) 19%, rgba(57, 65, 102, 1) 30%, rgba(57, 65, 102, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e5e5e5', endColorstr='#394166', GradientType=0);
        /* IE6-9 */
        .beegoLogo {
          height: 100%;
          width: 100%;
          position: absolute;
          background: url("../../assets/imgs/espaceHome_img/beggoBackLogo.svg");
          background-repeat: no-repeat;
          background-position: -50% 50%;
          background-size: 100%;
        }
        .ctrl-bottom {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          .switcher {
            position: relative;
            background: hsl(227, 32%, 23%);
            display: flex;
            flex-direction: row;
            .box {
              display: flex;
              flex-direction: row;
              position: relative;
              flex-grow: 1;
              font-size: 12px;
              ion-select {
                max-width: 100%;
              }
              button {
                font-size: 12px;
              }
              .icon {
                margin: auto;
                margin-right: 0;
                margin-left: 20px;
                width: 15px;
                height: 15px;
              }
              .logo {
                height: 26px;
                width: 26px;
              }
            }
          }
          .cls-dc-btn {
            .button-inner {
              justify-content: space-between !important;
              flex-direction: row;
            }
            ion-icon {
              margin-right: 5px;
            }
          }
        }
      }
      .user-content {
        position: absolute;
        width: 80vw;
        top: 25vh;
        padding-left: 20px;
        .small-list {
          ion-label {
            font-family: "Raleway";
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 0.1;
          }
        }
        ion-list {
          .item {
            min-height: auto;
            /* <- this can be whatever you need */
          }
          ion-item {
            background: transparent;
            color: white; // .item-inner {
            border: none; // }
            ion-avatar {
              img {
                clip-path: url(#hexagonPathHomeSmall);
                border-radius: 0;
                width: 60px;
                height: 60px;
              }
            }
            ion-icon {
              vertical-align: middle;
              font-size: 20px;
              margin-right: 8px;
            }
            ion-label {
              margin-top: 8px;
              margin-bottom: 8px;
            }
            h2,
            p {
              color: white;
              font-family: "Raleway";
              margin: 0px;
            }
            h2 {
              font-size: 16px;
              font-weight: 700;
            }
            p {
              font-weight: 400;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
  #content {
    position: relative;
    height: 100%;
    width: 100%;
    background: #394166;
  }
  .open-menu {
    animation: slide-bck-right-esp 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
  }
  .close-menu {
    animation: slide-off 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) forwards;
  }
  @keyframes slide-bck-right-esp {
    0% {
      transform: translateZ(0) translateX(0) scale(1);
      transform-origin: left;
    }
    100% {
      transform: translateZ(-400px) translateX(80%) scale(0.8);
      transform-origin: left;
      box-shadow: -7px 0px 8px 0px rgba(33, 41, 66, 1);
    }
  }
  @keyframes slide-off {
    0% {
      transform: translateZ(-400px) translateX(80%) scale(0.8);
      transform-origin: left;
      box-shadow: -7px 0px 8px 0px rgba(57, 65, 102, 1);
    }
    100% {
      transform: translateZ(0) translateX(0) scale(1);
      transform-origin: left;
      box-shadow: none;
    }
  }
  .menu-animated {
    -webkit-transition-duration: 1500ms;
    -moz-transition-duration: 1500ms;
    transition-duration: 1500ms;
  }
  .home-wrapper {
    height: 100%;
    .scroll-content {
      background: #394166;
    }
  }
  .animateMenu {
    animation: animate-menu 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; // height: 80vh;
    // margin-top: 10vh;
  }
  .animateMenu-close {
    animation: animate-menu-close 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @keyframes animate-menu {
    0% {
      height: 100%;
      margin-top: 0;
    }
    100% {
      height: 80vh;
      margin-top: 10vh;
    }
  }
  @keyframes animate-menu-close {
    0% {
      height: 80vh;
      margin-top: 10vh;
    }
    100% {
      height: 100%;
      margin-top: 0;
    }
  }
  .toolbar-background {
    background: #353b5a !important;
  }
  .tool-bar {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    border: 1px solid rgba(0, 0, 0, 0);
    background: #353b5a !important;
  }
  .toolbar-title {
    color: #ffffff;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 500;
    padding-left: 17px;
    ion-icon {
      color: white;
    }
  }
  ion-grid {
    padding: 0px !important;
    .margin-neg {
      margin-bottom: -15px;
    }
    .banner-col {
      padding: 0;
      background: url("https://source.unsplash.com/1600x900/?bar,coffe") center center no-repeat;
      object-fit: contain;
      .padding-row {
        padding: 30px 0 45px 0;
      }
      .holding-space {
        height: 90px;
        width: 83px;
      }
    }
    .main-box {
      .curved-col {
        border-radius: 20px 20px 10px 10px;
        padding: 0;
        background: #394166;
        ion-list {
          margin-bottom: 0;
          ion-col {
            padding: 0;
          }
          ion-item,
          ion-list-header {
            background: transparent;
          }
          ion-list-header {
            border-top: none;
            border-bottom: 1px solid rgba(gray, 0.5);
            color: white;
          }
          ion-item {
            margin-left: 10px;
            margin-right: 10px;
            border-bottom: 1px solid rgba(gray, 0.5);
            width: 90%;
            .fogme {
              position: absolute;
              top: 13px;
              left: 0;
              bottom: 13px;
              right: 0;
              background: url(../../assets/imgs/espaceHome_img/mask-fog.svg) top left no-repeat;
              background-size: cover;
            }
            .item-inner {
              border: none;
            }
            p {
              font-size: 10px;
              color: white;
              flex-wrap: wrap;
              white-space: normal;
            }
            p:nth-of-type(2) {
              text-align: right;
            }
          }
        }
      }
    }
    .loading-btn-row {
      ion-col {
        padding: 0;
      }
      .row-center {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      .half-rad-btn {
        margin-top: 0;
        border-radius: 0 0 10px 10px;
        background: #F22876;
        width: 144px;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .motd {
    margin-left: 20px;
    margin-right: 20px;
    background: white url("../../assets/imgs/homePage_img/2-layers.svg") no-repeat; // not sure about it let's try it later
    background-size: 50px;
    background-position: 100% 40%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
    border-radius: 0 0 15px 15px;
    h2 {
      color: #000000;
      font-family: "Raleway";
      font-size: 21px;
      font-weight: 700;
      letter-spacing: 0.25px;
    }
    p {
      color: #8e8e93;
      font-family: "Raleway";
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 0.12px;
    }
    span {
      color: #333333;
      font-family: "Raleway";
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.17px;
      float: right;
    }
  }
  .catego-wrapper {
    position: relative;
    clip-path: url(#hexa);
    height: 90px;
    width: 83px;
    background: #F22876;
    margin: 0 5px 0 5px;
    div {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      span {
        margin: auto;
        text-align: center;
        color: #ffffff;
        font-family: Raleway;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.19px;
        z-index: 10;
        text-transform: capitalize;
        width: 80%;
      }
    }
    .catego {
      width: 99px;
      height: 108px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      margin: 0px 2px 0px 2px;
    }
  }
  .bouton-accepter {
    background-color: transparent;
    top: 10%;
    width: 20%;
    min-width: 120px;
    color: #78da78;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: url("../assets/imgs/accepter.png") left no-repeat;
  }
  .bouton-annuler {
    background-color: transparent;
    height: 30px;
    width: 20%;
    min-width: 120px;
    color: #eb6262;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: url("../assets/imgs/accepter.png") left no-repeat;
  }
  .rating-ex ul {
    padding: 0px;
    text-align: start;
    margin: 0px;
    &.rating li {
      padding: 5px 0px !important;
      background: none;
      color: #ffb400;
      text-align: center;
      ion-icon {
        font-size: 16px;
      }
    }
  }
  .row-style {
    display: flex;
    flex-direction: row;
  }
  .row-space-around {
    justify-content: space-around;
  }
  .row-space-between {
    justify-content: space-between;
  }
  .row-right {
    justify-content: end;
  }
  .filter_btn {
    margin: auto;
    color: #c9c9c9;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.17px;
  }
  .activated_filter {
    color: #f22876;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.22px;
  }
  .row-scroller {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  .row-scroller::-webkit-scrollbar {
    display: none;
  }
  .mx-auto {
    margin: auto;
  }
  header-acceuil-container {
    display: flex;
    width: 100%;
    height: 43px;
    flex-direction: row;
    padding-top: 9px;
    background-color: rgb(255, 102, 153) !important;
  }
  .space {
    justify-content: space-between;
  }
  .onsearch .hide-onserach,
  .show-onserach {
    display: none;
  }
  .onsearch .show-onserach {
    display: flex;
  }
  .cleaner .hide-cleaner {
    display: none;
    padding-top: 3px;
  }
  .cleaner .showcleaner {
    display: flex;
  }
  .burger_menu {
    background-color: transparent;
    background-repeat: no-repeat;
  }
  .titre {
    text-align: center;
    color: white;
    position: relative;
    width: 50%;
    font-size: 16px;
  }
  .search {
    background-color: transparent;
    background-repeat: no-repeat;
    float: right;
  }
  .search:hover {
    background-color: transparent;
    background-repeat: no-repeat;
    transform: scale(1.1);
  }
  .search:active {
    background-color: transparent;
    background-repeat: no-repeat;
    transform: scale(1);
  }
  .text-search {
    background-color: rgb(243, 150, 166);
    border-radius: 12px;
    height: 27px;
    width: 100%;
    border: none;
    padding-left: 37px;
    color: white !important;
  }
  .text-search::placeholder {
    color: white;
    font-size: 14px;
  }
  .for-search {
    padding-left: 10px;
    position: relative;
    width: 240px;
  }
  .cancel-search {
    color: white;
    margin-top: 3px;
    font-size: 13px;
    margin-left: 10px;
  }
  .cancel-search:hover {
    color: white;
    margin-top: 3px;
    transform: scale(1.1);
    margin-left: 10px;
  }
  .cancel-search:active {
    color: white;
    margin-top: 3px;
    transform: scale(1);
    margin-left: 10px;
  }
  .cancel-search-action {
    background-color: transparent;
    color: white;
    float: right;
  }
  .clear-text {
    position: absolute;
    background-color: transparent;
    top: 2px;
    right: 6px;
  }
  .search-text-icon {
    position: absolute;
    background-color: transparent;
    top: 3px;
    padding-top: 3px;
  }
  .search-text-icon:active {
    position: absolute;
    background-color: transparent;
    top: 4px;
  }
}
