<!--
  Generated template for the EspaceHomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<div id="menu" class="home-side-menu" (swipe)="menuSwipe($event)">
  <div class="menu-stylesh">
    <img class="imgBack" src="https://source.unsplash.com/1600x900/?bar,coffe" alt="">
    <div class="overlay">
      <div class="beegoLogo"></div>
      <div class="ctrl-bottom">
        <div class="switcher">
          <div class="box">
            <img src="../../assets//imgs/espaceHome_img/user.svg" class="icon" alt="">
            <button ion-button clear color="light" (click)="switchUser()">
              Switch user
            </button>
          </div>
          <div class="box">
            <img src="../../assets//imgs/espaceHome_img/yellow-beego.svg" class="icon logo" alt="">
            <ion-select [(ngModel)]="spaceState" multiple="false" cancelText="Nah" okText="Okay!" placeholder="Switch color">
              <ion-option value="1">We are Full</ion-option>
              <ion-option value="2">We Still Accepting</ion-option>
              <ion-option value="3">Limited Place</ion-option>
            </ion-select>
          </div>
        </div>
        <button ion-button clear full color="light" class="cls-dc-btn" icon-end>
          Deconnexion
          <ion-icon name="exit"></ion-icon>
        </button>
      </div>
    </div>
    <div class="user-content animated" [class.fadeInLeft]="isMenuOpen">
      <ion-list class="top-user">
        <ion-item>
          <ion-avatar item-start>
            <img src="http://i.pravatar.cc/60">
          </ion-avatar>
          <h2>Le bon Coin</h2>
          <p>LBCoin@gmail.com</p>
        </ion-item>
      </ion-list>
      <ion-list no-lines class="small-list">
        <ion-item>
          <ion-icon name="medal"></ion-icon>
          Events
        </ion-item>
        <ion-item>
          <ion-icon name="people"></ion-icon>
          Trouvez vos amis
        </ion-item>
        <ion-item>
          <ion-icon name="settings"></ion-icon>
          Parametere de compte
        </ion-item>
        <ion-item>
          <ion-icon name="clock"></ion-icon>
          Historique personnelle
        </ion-item>
        <ion-item>
          <ion-icon name="chatboxes"></ion-icon>
          Mes messages
        </ion-item>
        <ion-item>
          <ion-icon name="paper-plane"></ion-icon>
          Contantez nous
        </ion-item>
        <ion-item>
          <ion-icon name="information-circle"></ion-icon>
          A propos
        </ion-item>
      </ion-list>
    </div>
  </div>
</div>
<div #content class="home-wrapper" [class.open-menu]="isMenuOpen" [class.close-menu]="!isMenuOpen" (swipe)="contentSwipe($event)">
  <ion-header>
    <ion-navbar color="trans" [class.onsearch]="search" [class.cleaner]="hide_cleaner_button">
      <div class="header-acceuil-container space hide-onserach">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="toolbar-title">
                <button ion-button icon-only clear small (click)="swipeByButton()">
                  <ion-icon class="mx-auto" name="menu"></ion-icon>
                </button>
                <span>Acceuil</span>
              </div>
            </ion-col>

          </ion-row>
        </ion-grid>
      </div>
      <div class="header-acceuil-container show-onserach">
        <ion-grid>
        </ion-grid>
      </div>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <ion-grid (swipe)="contentSwipe($event)">
      <ion-row class="margin-neg">
        <ion-col class="banner-col">
          <ion-row>
            <ion-col class="motd">
              <div>
                <h2>Bonjour, Amine</h2>
                <p>Nous espérons que vous passé une bonne journée.
                  <span text-right>18°</span>
                </p>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="beego-row-center padding-row">
              <div class="catego-wrapper" (click)="showingData = '1'" *ngIf="showingData == '0' || showingData == '1'">
                <div>
                  <span>Bee Sensor</span>
                </div>
              </div>
              <div class="catego-wrapper" (click)="showingData = '2'" *ngIf="showingData == '0' || showingData == '2'">
                <div>
                  <span>Bee Database</span>
                </div>
              </div>
              <div class="catego-wrapper" (click)="showingData = '3'" *ngIf="showingData == '0' || showingData == '3'">
                <div>
                  <span>bee Buisness</span>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="main-box">
        <ion-col class="curved-col" [ngSwitch]="showingData">
          <ion-list *ngSwitchCase="0">
            <ion-list-header>
              Actualitées
            </ion-list-header>
            <ion-item class="animated fadeInDown" *ngFor="let item of collectionAct | slice:0:howMuch;let lst = last;" [class.noborder]="lst">
              <div class="fogme" *ngIf="lst"></div>
              <ion-avatar item-start>
                <img src="{{item.pic}}">
              </ion-avatar>
              <p>
                <b>{{item.user}}</b> a partager avec vous localisation , il est a
                <b>{{item.location}}</b>
              </p>
              <p>il y a {{item.time}}</p>
            </ion-item>
          </ion-list>
          <ion-list *ngSwitchCase="1">
            <ion-list-header>
              Bee Sensor
            </ion-list-header>
            <ion-item class="animated fadeInDown" *ngFor="let item of collectionSensor | slice:0:howMuch;let lst = last;" [class.noborder]="lst">
              <div class="fogme" *ngIf="lst"></div>
              <ion-avatar item-start>
                <img src="{{item.pic}}">
              </ion-avatar>
              <p>
                <b>{{item.user}}</b> a partager avec vous localisation , il est a
                <b>{{item.location}}</b>
              </p>
              <p>il y a {{item.time}}</p>
            </ion-item>
          </ion-list>
          <ion-list *ngSwitchCase="2">
            <ion-list-header>
              Bee DataBase
            </ion-list-header>
            <ion-item class="animated fadeInDown" *ngFor="let item of collectionDatabase | slice:0:howMuch;let lst = last;" [class.noborder]="lst">
              <div class="fogme" *ngIf="lst"></div>
              <ion-avatar item-start>
                <img src="{{item.pic}}">
              </ion-avatar>
              <p>
                <b>{{item.user}}</b> a partager avec vous localisation , il est a
                <b>{{item.location}}</b>
              </p>
              <p>il y a {{item.time}}</p>
            </ion-item>
          </ion-list>
          <ion-list *ngSwitchCase="3">
            <ion-list-header>
              Bee Buisness
            </ion-list-header>
            <ion-item class="animated fadeInDown" *ngFor="let item of collectionBuisness | slice:0:howMuch;let lst = last;" [class.noborder]="lst">
              <div class="fogme" *ngIf="lst"></div>
              <ion-avatar item-start>
                <img src="{{item.pic}}">
              </ion-avatar>
              <p>
                <b>{{item.user}}</b> a partager avec vous localisation , il est a
                <b>{{item.location}}</b>
              </p>
              <p>il y a {{item.time}}</p>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row class="loading-btn-row">
        <ion-col>
          <div class="row-center">
            <button class="half-rad-btn" ion-button small (click)="howMuch = collectionAct.length">voir tous</button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="bottom-row">
        <ion-col class="row-style row-space-around">
          <button ion-button small round>Feedback</button>
          <button ion-button small round>Followers</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <svg height="0" width="0" viewbox="0 0 500 500">
      <defs>
        <clipPath id="hexa" transform="scale(0.75 0.75)">
          <path id="sug1-2Home" data-name="sug1" class="cls-1" d="M98.434,37.981V68.895A22.732,22.732,0,0,1,87.045,88.419L60.2,103.875a22.032,22.032,0,0,1-22.371,0l-12.2-7.322L11.389,88.419h-.407A22.357,22.357,0,0,1,0,68.895V37.981A19.8,19.8,0,0,1,.407,33.1a20.822,20.822,0,0,1,4.068-8.542,20.247,20.247,0,0,1,6.915-6.1L38.235,3A22.032,22.032,0,0,1,60.606,3L87.452,18.457A22.851,22.851,0,0,1,98.434,37.981Z"
            transform="translate(9 6.05)" />
        </clipPath>
      </defs>
    </svg>
    <svg height="0" width="0" viewbox="0 0 100 100">
      <defs>
        <clipPath id="hexagonPathHomeSmall" transform="scale(0.5 0.5)">
          <path id="sug1-2HomeEsp" data-name="sug1" class="cls-1" d="M98.434,37.981V68.895A22.732,22.732,0,0,1,87.045,88.419L60.2,103.875a22.032,22.032,0,0,1-22.371,0l-12.2-7.322L11.389,88.419h-.407A22.357,22.357,0,0,1,0,68.895V37.981A19.8,19.8,0,0,1,.407,33.1a20.822,20.822,0,0,1,4.068-8.542,20.247,20.247,0,0,1,6.915-6.1L38.235,3A22.032,22.032,0,0,1,60.606,3L87.452,18.457A22.851,22.851,0,0,1,98.434,37.981Z"
          />
        </clipPath>
      </defs>
    </svg>
  </ion-content>
</div>
