page-popup {
    .popup-body{
        border-radius: 17px;
    }
    top: calc(50% - 177px)!important;
    ion-content{
        background: none !important;
    }
    .scroll-content{
        overflow: visible;
    }
    .popup-body {
        background-color: #ffffff;
        margin-top: 33px;
        padding-top: 33px;
    }
    
    .popup-container {
        position: relative;
        width: calc(100% - 20px);
        max-width: 351px;
        min-width: 200px;
        margin: auto;
    }
    .iconsplace{
        text-align: center;
        position: absolute;
        width: 100%;
        top: -40px;
    
        .iconssize{
            width: 74px;
            height: 77px;
        }
        
    }
    .titlepopup{
        margin-top: 7px;
        text-align: center;
        color: #000000;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: -0.23px;
        line-height: 22px;
        span{
            font-family: "Raleway - Medium";
            font-weight: 500;
            text-transform: capitalize;
        }
        }
    .textpopup{
        text-align: center;
        margin-top: 4%;
        margin-left: 5%;
        margin-right: 5%;
        .textsize{
            width: 100%;
            height: 147px;
            border: none;
            background-color: rgba(236, 236, 236, 0.49);
            border-radius: 12px;
            padding-left: 17px;
            padding-top: 13px;
            color: #535353;
            font-family: Raleway;
            font-size: 12px;
            font-weight: 400;
        }
    }
    .buttonpopup{
        margin-top: 8%;
        justify-content: space-around;
        display: flex;
        padding-bottom: 14px;
        .popupbtn{
            background-color: transparent;            
            border: none;    
            letter-spacing: -0.24px;
            line-height: 22px;
            font-size: 17px;
            font-family: "Segoe UI";
        }
        // .popupbtn:active{
        //     color: rgb(246,188,27);
        // }
        .cancel{
            color: #c9c9c9;
            font-weight: 400;
        }
        .signaler{
            color: #f6bc1b;
            font-weight: 600;
        }
   }
   
}
.popup-modal {
    background-color: rgba(0, 0, 0, 0.21);
    .modal-wrapper {
    //     width: 100%;
    // height: 100%;
    box-shadow: none;
    
    // background-color: #23212147;
    }
    ion-backdrop{
        visibility: hidden;
    }
 }
