page-space-event-and-promotion {
  font-family: "Raleway";

  ion-header {
    background: #353B5A;

    ion-title {
      .toolbar-title {
        font-size: 16px;
        color: white;
        font-weight: 400;
      }
    }

    .toolbar-background {
      background: #353B5A;
    }

    /**
   * ios fix
   */
    .header-ios {
      box-shadow: 0px 3px 3px rgba(0, 0, 0, .16);
    }


  }

  ion-content {
    min-height: 100%;

    .main-content {
      background: #383F60;
      min-height: 100%;
      padding-bottom: 30px;

      ion-card {
        background: #394166;
        border-radius: 15px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, .65);

        ion-card-header {
          color: white;
          border-bottom: 1px solid rgba($color: #485280, $alpha: .5);
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 16px;
        }

        .no-side-padding {
          padding-left: 0;
          padding-right: 0;

          .input-row,
          .input-row-multi {
            padding-left: 10px;
            padding-right: 10px;
          }

          .input-row-multi {
            .input-row {
              padding-left: 0;
              padding-right: 0;
            }
          }
        }

        ion-card-content {
          padding-top: 15px;

          .input-row-multi {
            display: flex;
            position: relative;
            flex-direction: row !important;

            .no-marge {
              margin: 0 !important;
            }

            .input-row {
              flex-grow: 1;
              margin-right: 10px;

              .icon-place {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;

                ion-icon {
                  font-size: 31px;
                }
              }
            }
          }

          .input-row {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;
            margin-top: 10px;
            max-width: 100%;

            .value-preview {
              display: flex;
              justify-content: center;

              .values {
                font-size: 12px;
                color: rgba($color: #FFFFFF, $alpha: .6);
                text-align: center;
                padding: 5px 10px 5px 10px;
                border-radius: 3px 3px 0px 0px;
                background: #2E344E;
              }
            }

            .label {
              text-align: left;
              color: white;
              font-size: 12px;
              margin-bottom: 5px;
            }

            .label-holder {
              display: flex;
              flex-direction: row;
              width: 100%;

              .label {
                text-align: left;
                color: white;
                font-size: 12px;
                margin-bottom: 5px;
                flex-grow: 1;
              }
            }

            .lighteer {
              background: #3F4A6E;
            }

            .many-holder {
              margin-top: 5px;
            }

            .input-holder {
              position: relative;
              display: flex;
              flex-direction: row;
              width: 100%;
              max-width: 100%;

              ion-range {
                width: 100%;

              }

              .toggle-label {
                color: white;
                font-size: 12px;
                margin-right: 10px;
                margin-top: auto;
                margin-bottom: auto;

              }

              .input-icon-holder {
                position: absolute;
                right: 8px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
              }

              .input-with-icon {
                padding-right: 40px;
              }

              .input {
                flex-grow: 1;
              }
            }

            .input {
              border-radius: 15px;
              background: #323B58;
              color: #9EAACC;
              font-size: 12px;
              border: none;
              padding: 5px;
              padding-left: 10px;
              width: 100%
            }

            .note {
              .title {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 10px;

                .label {
                  font-size: 14px;
                  color: white;
                }

                .icon {
                  font-size: 11px;
                  color: rgba($color: #7A82A5, $alpha: .8)
                }
              }

              p {
                color: #9EAACC;
                font-size: 11px;
              }
            }
          }

          .dark-row {
            background: #383F60;
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }
      }

      .image-placeHolder {
        height: 83px;
        width: 140px;
        min-height: 83px;
        min-width: 140px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        border: 1px solid white;
        border-radius: 10px;
        background: url(../../assets/imgs/event_promotion_mg/img_selection.svg) no-repeat;
        background-position: 50% 20%;
        background-size: 40px;
        margin-left: 10px;
        margin-right: 10px;

        p {
          font-size: 9px;
          color: white;
          padding: 5px;
          text-align: center;
        }
      }

      .pic {
        height: 83px;
        width: 148px;
        min-height: 83px;
        min-width: 148px;
        object-fit: cover;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
      }

      .row-scroller {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        flex-shrink: 0;
      }

      .toggle-ios {
        height: 26px;

        .toggle-inner {
          height: 22px;
          width: 22px;
        }
      }

      .toggle-ios.toggle-checked .toggle-inner {
        transform: translate3d(22px, 0, 0)
      }

      .toggle-md {
        padding: 4px;
      }

      ion-select {
        max-width: 100%;
      }
    }
  }

}
