page-pdc {
  ion-header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border: 1px solid rgba(0, 0, 0, 0);
    background-image: linear-gradient(96deg, #fb4b7d 0%, #fe757b 100%);
    display: flex;
    justify-content: center;

    span {
      color: #ffffff;
      font-family: Raleway;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.19px;
      margin-top: 33px;
    }

    .back {
      position: absolute;
      left: 5%;
      top: 22px;
      color: white;
      font-size: 41px;
    }

    .bgImg {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      width: 30px;
      height: 30px;
      position: absolute;
      top: 26px;
      right: 5%;
      border-radius: 50px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50px;
      }
    }
  }

  .content-ios {
    background-color: white;
  }

  .content-md {
    background-color: white;
  }

  .photo_row {
    width: 100%;
    height: 177px;
    background-image: url(../../assets/imgs/pdc.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 257px;
  }

  .info_row {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0 -2px 0px rgba(0, 0, 0, 0.10);
    border-radius: 30px 30px 0 0;
    background-color: #ffffff;
    .title_row{
        width: 100%;
        margin-top: 25px;
        padding-left: 20px !important;
        color: #535353;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 500;
        ion-icon{
            position: absolute;
            right: 5%;
            color: #8e8e93;
            font-size: 18px;
            transition: 1s;
        }
        .closeIcon1 {
            transform: rotate(-180deg);
          }
    }
    .description{
        margin-top: 20px;
        padding-left: 20px !important;
        padding-right: 24px !important;
        width: 100%;
        height: 158px;
        color: #8e8e93;
        font-size: 12px;
        letter-spacing: 0.14px;
        font-family: "Segoe UI";
        font-weight: 400;
        overflow: hidden;
        position: relative;
        transition: 1s;
        .whitediv{
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.47) 0%, whitesmoke 100%);
            position: absolute;
            bottom: 0px;
            width: 100%;
            height: 30px;
            transition: 1s;
          }
    }
    .show-description{
        height: auto !important;
        transition: 1s;
    }
    .hide-whitediv{
        height: 0px !important;
        transition: 1s;
    }
  }
}
