<!--
  Generated template for the ToExplorePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border class="header-syle">

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only small>
        <ion-icon name="options">
        </ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Explorer
      <button ion-button icon-only small clear (click)="opt=!opt" class="special-btn">
        <ion-icon name="arrow-down" [hidden]="opt">
        </ion-icon>
        <ion-icon name="arrow-up" [hidden]="!opt">
        </ion-icon>
      </button>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only small>
        <ion-icon name="search">
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <div [hidden]="!opt">
    <ion-buttons class="top-buttons">
      <button ion-button clear (click)="viewrChnager(1)">My friends</button>
      <button ion-button clear (click)="viewrChnager(2)">My events</button>
      <button ion-button clear (click)="viewrChnager(3)">suggested</button>
      <button ion-button clear (click)="viewrChnager(4)">near to here</button>
    </ion-buttons>
  </div>
</ion-header>


<ion-content>
  <div id='map'></div>
  <div class="top-box">
    <div class="distanceProx" *ngIf="selectedPlace != -1">
      <div class="row nowrap">
        <img src="{{locationLists[selectedPlace].picPin}}" alt="img">
        <span> elle est a {{locationLists[selectedPlace].distance | number}} km de votre position actuelle</span>
      </div>
      <button ion-button clear icon-only small (click)="clearSelection()">
        <ion-icon name="close"></ion-icon>
      </button>

    </div>
  </div>
  <div class="bottom-box" [ngSwitch]="bottom_ctn">
    <div *ngSwitchCase="1" class="box-friends">
      <div class="box-header">
        <h2>Mes amis</h2>
        <div class="ctrl-btns">
          <button ion-button icon-only class="sly-round act-btn" small (click)="bottom_ctn='6'">
            <ion-icon name="brush"></ion-icon>
          </button>
          <button ion-button icon-only class="sly-round" small (click)="locateUser()">
            <ion-icon name="locate"></ion-icon>
          </button>
        </div>
      </div>
      <ion-card *ngIf="selectedFriend != -1">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{friendLists[selectedFriend].pic}}">
          </ion-avatar>
          <h2>{{friendLists[selectedFriend].name}}
            <span class="soft">et a</span> {{locationLists[friendLists[selectedFriend].locationID].name}}</h2>
          <div class="row-data spaced-row">
            <span class="location">
              {{locationLists[friendLists[selectedFriend].locationID].place}}
            </span>
            <span class="distance">distance :
              <ion-icon name="paper-plane"></ion-icon> {{locationLists[friendLists[selectedFriend].locationID].distance | number}} km</span>
          </div>
        </ion-item>
        <ion-card-content>
          <div class="row-data">
            <span class="stat">Ouverte maintenant</span>
            <div class="rating row-data">
              <rating [(ngModel)]="locationLists[friendLists[selectedFriend].locationID].rating" emptyStarIconName="star-outline" halfStarIconName="star-half"
                starIconName="star" nullable="false" (ngModelChange)="null">
              </rating>
              <span class="avis"> (255 avis)</span>
            </div>
          </div>
          <div class="row-data">
            <button class="sug-btn blue-btn" ion-button round small> cree un programme</button>
            <button class="sug-btn act-btn" ion-button round small> voir profile</button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="2" class="box-events">
      <div class="box-header">
        <h2>Evenement</h2>
        <div class="ctrl-btns">
          <button ion-button icon-only class="sly-round act-btn" small (click)="bottom_ctn='6'">
            <ion-icon name="brush"></ion-icon>
          </button>
          <button ion-button icon-only class="sly-round" small (click)="locateUser()">
            <ion-icon name="locate"></ion-icon>
          </button>
        </div>
      </div>
      <ion-card *ngIf="selectedEvent != -1">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{eventList[selectedEvent].pic}}">
          </ion-avatar>
          <h2>{{eventList[selectedEvent].name}}
            <span class="soft"> au </span> {{locationLists[eventList[selectedEvent].locationID].name}}</h2>
          <div class="row-data spaced-row">
            <span class="location">
              {{locationLists[eventList[selectedEvent].locationID].place}}
            </span>
            <span class="stat">Ouverte</span>
          </div>
        </ion-item>
        <ion-card-content>
          <div class="row-data spaced-row">
            <div class="interseted">
              <ul>
                <li *ngFor="let item of eventList[selectedEvent].interstedList | slice:0:6">
                  <img src="{{item.pic}}" alt="">
                </li>
              </ul>
              <span *ngIf="eventList[selectedEvent].interstedList.length - 6 != 0">+{{eventList[selectedEvent].interstedList.length - 6}} interessees</span>
            </div>
            <span class="distance">
              <ion-icon name="paper-plane"></ion-icon> {{locationLists[eventList[selectedEvent].locationID].distance | number}} km
            </span>
          </div>
          <div class="row-data">
            <button class="sug-btn blue-btn" ion-button round small (click)="bottom_ctn='6'"> cree un programme</button>
            <button class="sug-btn act-btn" ion-button round small> voir l'event</button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="3" class="box-suggestion">
      <div class="box-header">
        <h2>Suggestion</h2>
        <div class="ctrl-btns">
          <button ion-button icon-only class="sly-round act-btn" small (click)="bottom_ctn='6'">
            <ion-icon name="brush"></ion-icon>
          </button>
          <button ion-button icon-only class="sly-round" small (click)="locateUser()">
            <ion-icon name="locate"></ion-icon>
          </button>
          <button ion-button icon-only color="light" class="sly-round" small raised (click)="suggest.shown = !suggest.shown">
            <ion-icon *ngIf="suggest.shown" name="arrow-down"></ion-icon>
            <ion-icon *ngIf="!suggest.shown" name="arrow-up"></ion-icon>
          </button>
        </div>
      </div>
      <div class="row-scroller" [class.closed]="!suggest.shown">
        <ion-card *ngFor="let item of locationLists">
          <img src="{{item.picCover}}" />
          <ion-card-content>
            <ion-card-title>
              {{item.name}}
            </ion-card-title>
            <p>
              {{item.place}}
            </p>
            <div class="row-data">
              <div class="rating-suggest">
                <rating [(ngModel)]="item.rating" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"
                  (ngModelChange)="null">
                </rating>
              </div>
              <div class="distance">
                <ion-icon name="paper-plane"></ion-icon> {{item.distance | number}} km
              </div>
            </div>
            <div class="row-data">
              <span class="stat">ouverts</span>
              <button class="sug-btn" ion-button round small> detaills</button>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <div *ngSwitchCase="4">
      near
    </div>
    <div *ngSwitchCase="5" class="box-selected">
      <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="{{locationLists[selectedPlace].picPin}}">
          </ion-avatar>
          <h2>{{locationLists[selectedPlace].name}}</h2>
          <p>{{locationLists[selectedPlace].place}}</p>
        </ion-item>
        <ion-card-content>
          <div class="row-data spaced-row">
            <span class="stat">ouverte maintenant</span>
            <div class="rating-selected">
              <rating [(ngModel)]="locationLists[selectedPlace].rating" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star"
                nullable="false" (ngModelChange)="null">
              </rating>
              <span class="avis"> (255 avis)</span>
            </div>
          </div>
          <div class="row-data spaced-row">
            <span class="tel">Num de tel: 71 254 857</span>
            <div class="distance">
              Distance:
              <ion-icon name="paper-plane"></ion-icon> {{locationLists[selectedPlace].distance | number}} km
            </div>
          </div>
          <div class="row-data">
            <button class="sug-btn blue-btn" ion-button round small (click)="bottom_ctn='6'"> cree un programme</button>
            <button class="sug-btn act-btn" ion-button round small> voir espace</button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="6" class="box-create">
      <div class="box-header" *ngIf="selectedStep == 0">
        <h2>Cree un programme</h2>
      </div>
      <div class="sec-worker" [ngSwitch]="selectedStep">
        <div *ngSwitchCase="1" class="ou">
          <ion-list>
            <ion-list-header>
              <ion-searchbar placeholder="Trouver votre espaces" (ionInput)="null"></ion-searchbar>
            </ion-list-header>
            <ion-item *ngFor="let item of locationLists" (click)="programCreation.where = item.id" class="small-item">
              <ion-avatar item-start>
                <img src="{{item.picCover}}" alt="">
              </ion-avatar>
              <h2>{{item.name}}</h2>
              <p>{{item.place}}</p>
              <div class="rating-suggest" item-end>
                <rating [(ngModel)]="item.rating" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false"
                  (ngModelChange)="null">
                </rating>
              </div>
            </ion-item>
          </ion-list>
        </div>
        <div *ngSwitchCase="2" class="quand nowrap-row">
          <button ion-button round color="light" small>apres 1 hr</button>
          <button ion-button round color="light" small>5:00 pm</button>
          <button ion-button round color="light" small>6:00 pm</button>
        </div>
        <div *ngSwitchCase="3" class="avec">
          <ion-list radio-group [(ngModel)]="programCreation.friends">
            <ion-list-header>
              <ion-searchbar placeholder="Trouver votre espaces" (ionInput)="null"></ion-searchbar>
            </ion-list-header>
            <ion-item *ngFor="let item of friendLists">
              <!-- <ion-avatar item-start>
                <img src="{{item.pic}}" alt="">
              </ion-avatar> -->
              <ion-label>{{item.name}}</ion-label>
              <ion-radio value="{{item.id}}"></ion-radio>
            </ion-item>
          </ion-list>
        </div>
      </div>
      <div class="main-worker">
        <ion-card>
          <ion-card-content>
            <div class="row-data around-spacing">
              <div class="selector-btn" [class.active-selector]="selectedStep == '1'">
                <button (click)="selectedStep = 1">
                  <ion-icon name="pin"></ion-icon>
                </button>
                <span>Ou ?</span>
              </div>
              <div class="selector-btn" [class.active-selector]="selectedStep == '2'">
                <button (click)="selectedStep = 2">
                  <ion-icon name="clock"></ion-icon>
                </button>
                <span>Quand ?</span>
              </div>
              <div class="selector-btn" [class.active-selector]="selectedStep == '3'">
                <button (click)="selectedStep = 3">
                  <ion-icon name="people"></ion-icon>
                </button>
                <span>Avec ?</span>
              </div>
            </div>
            <div class="row-data">
              <button class="sug-btn" color="light" ion-button round small (click)="bottom_ctn='3'"> Annuler</button>
              <button class="sug-btn act-btn" ion-button round small> valider</button>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>
<svg height="0" width="0">
  <defs>
    <clipPath id="pathOfPin">
      <path d="M 25 45 L 10 20 A 12.5 12.5 0 1 1 40 20 Z" />
    </clipPath>
  </defs>
</svg>
