<!--
  Generated template for the FriendProfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content [hidden]="hiddenPage">
  <ion-grid no-padding [class.grid-blur]="varGrid" >
    <ion-row class="photo-row">
        <img  class="img-space" src="../../assets/imgs/principal_event/cover.png" alt="">
        <div class="photo_row_icons">
            <ion-icon class="back_icon"
            ios="ios-arrow-round-back" md="ios-arrow-round-back"></ion-icon>
            <ion-icon class="share_icon" (click)="showDivShare()"
            ios="md-share" md="md-share"></ion-icon>
        </div>
    </ion-row>
    <ion-row>
      <ion-col class="position-info">
        <div class="info-event">
          <ion-row class="first-row">
              <div class="event_title">
                  ŸUMA - Ÿuma au Kef Winter Tour 
                <!-- {{event.Name}}
              {{event.Sub_Name}} -->
                </div>
                  <button>
                    Interessé(e)
                  </button>                        
          </ion-row>
          <ion-row >
              <div class="follow_row">
                  <div class="heart_part">
                    <button icon-only (click)="suivre()">
                        <ion-icon class="size_icon"
                        ios="ios-pin" md="md-pin"></ion-icon>
                        
                    </button>
                    
                    <div>
                        <span class="heart_position">Carpe diem</span>
                    </div>
                  </div>
                  <div class="separation"></div>
                  <div>
                    <button icon-only>
                        <ion-icon class="size_icon" 
                        ios="ios-navigate" md="ios-navigate"></ion-icon>
                    </button>
                      
                       <span class="call_position">15 Km</span>
                  </div>
                  <div class="separation"></div>
                  <div class="person_part">
                    <button >
                      <img src="../../assets/imgs/principal_event/ticket.svg" class="ticket_icon">
                    </button>
                      
                       <span class="person_position">Gratuit</span>
                  </div>
                </div>
              </ion-row>
              <ion-row class="event_time">
               <ion-col col-6>
                  <ion-icon ios="md-calendar" md="md-calendar"></ion-icon>
                  <span>15 Dec - 18 Dec 2017</span> 
              </ion-col>
               <ion-col col-6>
                  <ion-icon ios="md-time" md="md-time"></ion-icon>
                  <span>9:00 PM - 5:00 AM</span> 
              </ion-col>
              </ion-row>
              <ion-row class="separation_row">
                  <div class="sep"></div>
                </ion-row>
                <!-- ghassen's job -->
                <ion-row class="participants_row ">
                  <div></div>
                  <label (click)="nbrPart()" >+2,456K
                    <button>Participants</button>
                  </label>
                </ion-row>
                <!-- ghassen's job -->
                <ion-row class="row_title">
                    Description
                </ion-row>
                <ion-row class="about"  [class.about-transition]="show">
                    <p>
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. 
                        Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500,
                         quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser
                          un livre spécimen de polices de texte. 
                         Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, 
                         sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 
                         grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, 
                        et, plus récemment, par son inclusion dans des applications de mise en page de texte, 
                        comme Aldus PageMaker.
                    </p>
                    <div class="whitediv" *ngIf="!show"></div>
                </ion-row>
                <ion-row class="arrow_down_row">
                  <button (click)="showabout()">
                      <ion-icon *ngIf="!show"
                      class="arrow-down-icon"
                      name="arrow-down"></ion-icon>
                      <ion-icon *ngIf="show"
                       class="arrow-down-icon"
                      name="arrow-up"></ion-icon>
                  </button>
                </ion-row>
                <ion-row class="row_title">
                  Images
              </ion-row>
              <ion-row class="photo_row">
               
            </ion-row>
            <ion-row class="row_title">
              Localisation
            </ion-row>
            <ion-row class="localisation_row">
              <div class="adress_title">
                  Adresse : 
              </div>
              <div class="adress">
                <img class="trac_img" 
                 src="../../assets/imgs/space_detail/trac.svg" alt="">
                  <span>
                    Rue 12457 num 4 nahje nakhil,
                    zahrouni
                  </span> 
              </div>
              <div class="btn_map">
                <button >
                  Voir dans la map
                  <ion-icon class="icon_map"
                  name=arrow-forward></ion-icon>
                </button>
              </div>
            </ion-row>
            <ion-row class="row_title">
              Organiser par
            </ion-row>
            <ion-row class="organisation_row">
              <ion-col class="img_col" col-3>
                  <div class="bee-image">
                      <div class="bee-hexagon">
                        <img class="bee-img-size" src="../../assets/imgs/space_detail/whats-up.png" alt="">
                      </div>
                    </div>
              </ion-col>
              <ion-col col-5 class="organisation_description">
                  <span>What's up Coffée</span> 
                  <div class="spaces_place">
                      Menzah 5, Tunis
                  </div>
              </ion-col>
              <ion-col col-2 >
                  <img class="find_us_fb"
                  src="../../assets/imgs/space_detail/Facebook.svg" alt="" >
                </ion-col>
                <ion-col col-2 >
                  <img class="find_us_insta" 
                  src="../../assets/imgs/param/insta.svg" alt="" >
              </ion-col>
            </ion-row>
            <ion-row class="interrested_row">
              <button>Interessé(e)</button>
              <div class="icons_place">
                  <ion-icon ios="md-person" md="md-person"></ion-icon>
                  <div class="separation"></div>
                  <ion-icon ios="md-heart" md="md-heart"></ion-icon>
              </div>
            </ion-row>
              </div>
              
            </ion-col>
          </ion-row>
          
          
          
  </ion-grid>

  <div class="hidden_div" [class.clear-div]="clear" >
    <button (click)="clearBtn()" ></button>
  </div>

  <div class="participants animated fadeInUp" [class.participants-display]="varDisplay" >
      <ion-grid no-padding>
        <ion-row class="part_nbr_row">
          <div class="part_nbr">
            <span>+2,456K </span> 
            Participants
          </div>
        </ion-row>
        <ion-row>
            <ion-list no-lines class="list-ios-notification">
              <ion-item class="item_height" text-wrap>
                  <ion-avatar item-start>
                      <img src="../../assets/imgs/photoDeProfil.png">                                
                  </ion-avatar>
                  <div class="theNotification"> 
                      <span> Med limayma</span>
                  </div>
                  <div class="place">
                      <ion-icon ios="ios-pin" md="ios-pin"></ion-icon>
                    Zahrouni, Tunis
                  </div>
                  <div class="line"></div>
              </ion-item>
              <ion-item class="item_height" text-wrap>
                  <ion-avatar item-start>
                      <img src="../../assets/imgs/photoDeProfil.png">                                
                  </ion-avatar>
                  <div class="theNotification"> 
                      <span> Med limayma</span>
                  </div>
                  <div class="place">
                      <ion-icon ios="ios-pin" md="ios-pin"></ion-icon>
                    Zahrouni, Tunis
                  </div>
                  <ion-icon item-end class="add_person" 
                   ios="md-person" md="md-person"></ion-icon>
                  <div class="line"></div>
              </ion-item>
              <ion-item class="item_height" text-wrap>
                  <ion-avatar item-start>
                      <img src="../../assets/imgs/photoDeProfil.png">                                
                  </ion-avatar>
                  <div class="theNotification"> 
                      <span> Med limayma</span>
                  </div>
                  <div class="place">
                      <ion-icon ios="ios-pin" md="ios-pin"></ion-icon>
                    Zahrouni, Tunis
                  </div>
                  <ion-icon item-end class="add_person" 
                   ios="md-person" md="md-person"></ion-icon>
                  <div class="line"></div>
              </ion-item>
            </ion-list>
        </ion-row>
      </ion-grid>
    </div>

    <div class="share animated fadeInUp" [class.show-share]="varShare" >
      <div class="share_title">
          Partager sur :
      </div>
      <div class="share_icon">
          <div class="share_icons_place">
              <img class="find_us_fb"
              src="../../assets/imgs/space_detail/Facebook.svg" alt="" >
              <img class="find_us_insta" 
                  src="../../assets/imgs/param/insta.svg" alt="" >
          </div>
      </div>
    </div>
    <div class="hidden_div_share" [class.clear-div-share]="clearShare" >
        <button (click)="clearBtnShare()" ></button>
      </div>

  <!-- <input type="file" #uploader (change)="updateImage($event)" style="display: none;"> -->
</ion-content>

 
