page-principal-event {
  ::-webkit-scrollbar {
    display: none;
    
  }
  .photo-row {
    height: auto;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    text-align: center;
    .img-space {
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .photo_row_icons {
      position: absolute;
      top: 15px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.25);
      ion-icon {
        color: white;
      }
      .back_icon {
        font-size: 40px;
        margin-top: -7px;
        margin-left: 5%;
      }
      .share_icon {
        font-size: 23px;
        margin-right: calc( 5% + 6px);
        margin-top: 5px;
      }
    }
  }
  .position-info {
    margin-top: -29px;
    .info-event {
      width: 100%;
      padding-top: 24px;
      height: auto;
      border-radius: 30px;
      background-color: #ffffff;
      .first-row {
        display: flex;
        justify-content: space-between;
        width: 92%;
        margin-left: 4%;
        padding-bottom: 20px;
        button {
          width: 103px;
          height: 32px;
          box-shadow: 0 3px 6px rgba(255, 81, 156, 0.38);
          border-radius: 118px;
          background-image: linear-gradient(106deg, #fb4b7d 0%, #fe757b 100%);
          color: #ffffff;
          font-family: "SFNS Display";
          font-size: 14px;
          font-weight: 400;
        }
        .event_title {
          width: 50%;
          height: 51px;          
          color: #333;
          font-family: "Segoe UI";
          font-size: 17px;
          font-weight: 400;
        }
      }
      .follow_row {
        width: 92%;
        height: 50px;
        border-radius: 15px;
        background-color: #f2f2f2;
        margin-left: 4%;
        display: flex;
        justify-content: space-around;
        padding-top: 11px;
        .heart_part {
          margin-left: 6%;
        }
        .person_part {
          margin-right: 7%;
        }
        button {
          padding: 0 !important;
          margin: 0 !important;
          background-color: transparent;
        }
        span {
          margin-top: -4px;
          position: absolute;
          color: #8e8e93;
          font-family: Raleway;
          font-size: 12px;
          font-weight: 500;
        }
        .size_icon {
          font-size: 21px;
          color: #8e8e93;
        }
        .heart_position {
          margin-left: -14px;
          font-family: Raleway;
          margin-top: 3px;
        }
        .call_position {
          font-family: "SFNS Display";
          margin-top: 3px;
        }
        .ticket_icon {
          width: 22px;
          margin-top: -2px;
          margin-bottom: 6px;
          margin-right: 3px;
        }
        .person_position {
          margin-left: -5px;
          font-family: Raleway;
          margin-top: -2px;
        }
        .separation {
          width: 1px;
          height: 100%;
          border: 0.3px solid #8e8e93;
          height: 81%;
          border: 0.1px solid #8e8e93;
        }
      }
      .event_time {
        width: 92%;
        margin-left: 4%;
        margin-top: 25px;
        color: #8e8e93;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        span{
          margin-left: 21px;
        }
        ion-icon {
          font-size: 23px;
          position: absolute;
          top: 0px;
          left: 0px;
        }
      }
      .separation_row{
        margin-top: 17px;
        .sep{
          width: 92%;
          margin-left: 4%;
          height: 0;
          border: 0.5px solid #dadada;
        }

      }
      .row_title{
        margin-top: 13px;
        margin-left: 4%;        
        color: #535353;
        font-size: 20px;
        font-family: "Segoe UI";
        font-weight: 400;
      }
      .participants_row{
        margin-top: 13px;
        margin-left: 4%;  
        width: 92%;
        display: flex;
        justify-content: space-between;
        label{
          font-family: "Segoe UI";
          font-weight: 700;
          color: #8e8e93;
          font-size: 14px;
          button{
            background-color: transparent;
            font-weight: 500;
            font-family: Raleway;
            color: #8e8e93;
            font-size: 14px;
          }
        }
      }
      .about{
        position: relative;
        margin-top: -2px;
        margin-left: 4%;
        width:92%;
        color: #8e8e93;
        font-family: Raleway;
        font-size: 12px;
        font-weight: 500;
        height: 90px;
        overflow: hidden;
        // box-shadow:inset  0px -20px 0px 0px rgba(255, 0, 255, 0.45);
      
      }
      .about-transition{
        overflow: visible  !important;
        height: auto  !important;
      }
      .whitediv{
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.47) 0%, whitesmoke 100%);
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 30px;
      }
      .arrow_down_row{
        margin-top: -17px !important;
        justify-content: center;
        button{
          background-color: transparent;
          z-index: 1;
        }
        .arrow-down-icon{
          font-size: 20px;
          font-weight: 600;
          color: #8e8e93;
        }
      }
      .photo_row{
        height: 190px;
        margin-top: 10px;
        margin-left: 20px;
       background-color: gray;
      }
      .localisation_row{
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 10px;
        height: 130px;
        position: relative;
        .adress_title{
          color: #535353;
          font-family: Raleway;
          font-size: 12px;
          font-weight: 500;
          position: absolute;
          top: 10px;
          left: 3%;
        }
        .adress{
          position: absolute;
          margin-left: 3%;
          margin-top: 28px;
          
          span{
            color: #95989a;
          font-family: Raleway;
          font-size: 10px;
          font-weight: 500;
          padding-left: 2px;
          }
        }
        .trac_img{
          width: 7px;
          height: 8px;
          // padding-right: 3px;
        }
        .btn_map{
          button{
            width: 160px;
            height: 30px;
            box-shadow: 0 3px 6px rgba(255, 81, 156, 0.22);
            border-radius: 118px;
            background-image: linear-gradient(100deg, #fb4b7d 0%, #fe757b 100%);
            position: absolute;
            top: 57px;
            left: 3%;
            color: #ffffff;
            font-family: Raleway;
            font-size: 12px;
            font-weight: 500;
            padding-bottom: 4px;
            .icon_map{
              font-size: 10px;
              font-weight: 100;
              margin-left: 18px;
            }
          }
        }
      }
      .organisation_row{
        width: 92%;
        margin-left: 4%;
        .img_col{
          max-width: 80px !important;
          .bee-hexagon {
            clip-path: url(#hexagonPath);
            background-repeat: no-repeat;
            background-position: -3px -15px;
            background-color: transparent;
            height: 100%;
          }
          .bee-image {
            height: 120px;
            width: 120px;
            transform: scale(0.52);
            margin-left: -29px;
            margin-top: -24px;
          }
          .bee-img-size {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
        .organisation_description{
          position: relative;
          height: 100%;
          span{
            position: absolute;
            top: 22px;
            left: 0;
            color: #333333;            
            font-size: 14px;             
            letter-spacing: 0.17px;           
            font-family: "Segoe UI";
            font-weight: 400;
          }
          .spaces_place{
            position: absolute;
            top: 42px;
            left: 0;
            color: #8e8e93;
            font-size: 8px;
            letter-spacing: 0.1px;
            font-family: "Segoe UI";
            font-weight: 400;
          }
        }
        img{
          margin-top: 17px;
        }
        .find_us_fb{
          width: 31px;
        }
        .find_us_insta{
          width: 31px;
        }
      }
      .interrested_row{
        width: 100%;
        position: relative;
        padding-left: 4%;
        padding-top: 9px;
        height: 50px;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
        background-color: #fcfcfc;
        button{
          width: 199px;
          height: 32px;
          box-shadow: 0 3px 6px rgba(255, 81, 156, 0.38);
          border-radius: 118px;
          background-image: linear-gradient(99deg, #fb4b7d 0%, #fe757b 100%);
          color: #ffffff;
          font-size: 14px;
          font-family: "Segoe UI";
          font-weight: 400;
        }
        .icons_place{
          justify-content: center;
          display: flex;
          width:calc( 100% - ( 199px + 8%) );
          height: 100%;
          margin-left: 4%;
          ion-icon{
            color: #c1c1c1;
            font-size: 23px;
            margin-top: 5px;
          }
        }
        .separation{
          width: 22%;
        }
      }
      
    }
    
    
  }
.grid-blur{
  filter: blur(3px);
  transition: all 1s;
}
.participants-display{
  display: flex !important;
}

.hidden_div{
  position: fixed;
  top: 0;
  left: -11px;
  height: 210px;
  width: 103%;
  background-color: transparent;
  display: none;
  button{
    height: 193px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: transparent;
  }
}
.clear-div{
  display: flex !important;
}

  .participants{  
    display: none;
    position: fixed;
    height: calc( 100vh - 193px);
    width: 100%;
    background-color: white;
    border: solid #d2d1d1 0.5px;
    top: 193px;
    border-radius: 20px 20px 0 0;
    z-index: 3;
    padding-top: 19px;
    overflow-y: scroll;
    .part_nbr_row{
      min-height: 52px;
      width: 100%;
      display: flex;
      justify-content: center;
      .part_nbr{
        width: 222px;
        height: 52px;
        border-radius: 15px;
        background-color: #f1f1f1;
        opacity: 0.6;  
        color: #535353;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 500;
        padding-left: 27px;
        padding-top: 16px;
        span{
          font-family: "SFNS Display";
          font-weight: 700;
        }
        
      }
      
    }
    
  }
  .list-ios-notification {
    .label-md{
      line-height: 3.4;
    }
    .label-ios{
      line-height: 3.4;
    }
    width: 100%;
    overflow-y: scroll;
    .item_height{
      min-height: 70px;
      }
      .theNotification {
        /* Text style for "a partager" */            
        color: #95989a;
        font-family: "Segoe UI";
        font-weight: 400;
        font-size: 12px;
        margin-top: -4px;
      }
      span {
        font-family: Raleway;
        font-size: 14px;
        color: #535353;
        font-weight: 500;
        letter-spacing: -0.2px;
        line-height: 22px;
      }
      .place {
        color: #c9c9c9;
        font-family: Raleway;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: -0.14px;
        line-height: 22px;
        margin-top: -10px;
        ion-icon {
          font-size: 1.5em;
          padding-right: 3px;
      }
      }
      .line {
        width: 92%;
        height: 1px;
        border: 0.5px solid #95989a;
        position: absolute;
        top: 68px;
        left: 4%;
      }
      .add_person{
        color: #f22876;
        font-size: 27px;
      }
  }

  .show-share{
    display:block !important;
  }
  .share{
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 144px;
    border-radius: 20px 20px 0 0;
    background-color: white; 
    border: solid #d2d1d1 0.5px; 
    display: none;  
    .share_title{
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 21px;
      color: #535353;
      font-family: Raleway;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.22px;
      margin-top: 24px;
    }
    .share_icon{
      margin-top: 24px;
      justify-content: center;
      display: flex;
      width: 100%;
      height: auto;
      .share_icons_place{
        width: 115px;
        display: flex;
        justify-content: space-between;
        img{
          width: 37px;
          height: 37px;      
        }
      }
    }
  }
  
  .clear-div-share{
    display: block !important;
  }
  .hidden_div_share{
    height: calc( 100vh - 127px ) ;
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
    display: none;    
    z-index: 4;
    button{
      width: 100%;
      height: calc( 100vh - 134px );
      position: absolute;
      top: 0;
      background-color: transparent;
    }
  }





}