page-principal-event {
  ::-webkit-scrollbar {
    display: none;
  }
  .photo-row {
    height: auto;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    text-align: center;
    .img-space {
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .photo_row_icons {
      position: absolute;
      top: 15px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: rgba(0, 0, 0, 0.25);
      ion-icon {
        color: white;
      }
      .back_icon {
        font-size: 40px;
        margin-top: -7px;
        margin-left: 5%;
      }
      .share_icon {
        font-size: 23px;
        margin-right: calc( 5% + 6px);
        margin-top: 1px;
      }
    }
  }
  .position-info {
    margin-top: -29px;
    .info-event {
      width: 100%;
      padding-top: 24px;
      height: auto;
      border-radius: 30px;
      background-color: #ffffff;
      .first-row {
        display: flex;
        justify-content: space-between;
        width: 92%;
        margin-left: 4%;
        padding-bottom: 20px;
        button {
          width: 103px;
          height: 32px;
          box-shadow: 0 3px 6px rgba(255, 81, 156, 0.38);
          border-radius: 118px;
          background-image: linear-gradient(106deg, #fb4b7d 0%, #fe757b 100%);
          color: #ffffff;
          font-family: "SFNS Display";
          font-size: 14px;
          font-weight: 400;
        }
        .event_title {
          width: 50%;
          height: 51px;          
          color: #333;
          font-family: "Segoe UI";
          font-size: 17px;
          font-weight: 400;
        }
      }
      .follow_row {
        width: 92%;
        height: 50px;
        border-radius: 15px;
        background-color: #f2f2f2;
        margin-left: 4%;
        display: flex;
        justify-content: space-around;
        padding-top: 11px;
        .heart_part {
          margin-left: 6%;
        }
        .person_part {
          margin-right: 7%;
        }
        button {
          padding: 0 !important;
          margin: 0 !important;
          background-color: transparent;
        }
        span {
          margin-top: -4px;
          position: absolute;
          color: #8e8e93;
          font-family: Raleway;
          font-size: 12px;
          font-weight: 500;
        }
        .size_icon {
          font-size: 21px;
          color: #8e8e93;
        }
        .heart_position {
          margin-left: -14px;
          font-family: Raleway;
        }
        .call_position {
          font-family: "SFNS Display";
        }
        .ticket_icon {
          width: 22px;
          margin-top: -2px;
          margin-bottom: 6px;
          margin-right: 3px;
        }
        .person_position {
          margin-left: -5px;
          font-family: "SFNS Display";
        }
        .separation {
          width: 1px;
          height: 100%;
          border: 0.3px solid #8e8e93;
          height: 81%;
          border: 0.1px solid #8e8e93;
        }
      }
      .event_time {
        width: 92%;
        margin-left: 4%;
        margin-top: 25px;
        color: #8e8e93;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        span{
          margin-left: 21px;
        }
        ion-icon {
          font-size: 23px;
          position: absolute;
          top: 0px;
          left: 0px;
        }
      }
      .separation_row{
        margin-top: 17px;
        .sep{
          width: 92%;
          margin-left: 4%;
          height: 0;
          border: 0.5px solid #dadada;
        }

      }
      .row_title{
        margin-top: 13px;
        margin-left: 4%;        
        color: #535353;
        font-size: 20px;
        font-family: "Segoe UI";
        font-weight: 400;
      }
      .about{
        position: relative;
        margin-top: -2px;
        margin-left: 4%;
        width:92%;
        color: #8e8e93;
        font-family: Raleway;
        font-size: 12px;
        font-weight: 500;
        height: 90px;
        overflow: hidden;
        // box-shadow:inset  0px -20px 0px 0px rgba(255, 0, 255, 0.45);
      
      }
      .about-transition{
        overflow: visible  !important;
        height: auto  !important;
      }
      .whitediv{
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.47) 0%, whitesmoke 100%);
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 30px;
      }
      .arrow_down_row{
        margin-top: -17px !important;
        justify-content: center;
        button{
          background-color: transparent;
          z-index: 1;
        }
        .arrow-down-icon{
          font-size: 20px;
          font-weight: 600;
          color: #8e8e93;
        }
      }
      .photo_row{
        height: 190px;
        margin-top: 10px;
        margin-left: 20px;
       background-color: gray;
      }
      .localisation_row{
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 10px;
        height: 130px;
        position: relative;
        .adress_title{
          color: #535353;
          font-family: Raleway;
          font-size: 12px;
          font-weight: 500;
          position: absolute;
          top: 10px;
          left: 3%;
        }
        .adress{
          position: absolute;
          margin-left: 3%;
          margin-top: 28px;
          
          span{
            color: #95989a;
          font-family: Raleway;
          font-size: 10px;
          font-weight: 500;
          padding-left: 2px;
          }
        }
        .trac_img{
          width: 7px;
          height: 8px;
          // padding-right: 3px;
        }
        .btn_map{
          button{
            width: 160px;
            height: 30px;
            box-shadow: 0 3px 6px rgba(255, 81, 156, 0.22);
            border-radius: 118px;
            background-image: linear-gradient(100deg, #fb4b7d 0%, #fe757b 100%);
            position: absolute;
            top: 57px;
            left: 3%;
            color: #ffffff;
            font-family: Raleway;
            font-size: 12px;
            font-weight: 500;
            padding-bottom: 4px;
            .icon_map{
              font-size: 10px;
              font-weight: 100;
              margin-left: 18px;
            }
          }
        }
      }
      .organisation_row{
        width: 92%;
        margin-left: 4%;
        .img_col{
          max-width: 80px !important;
          .bee-hexagon {
            clip-path: url(#hexagonPath);
            background-repeat: no-repeat;
            background-position: -3px -15px;
            background-color: transparent;
            height: 100%;
          }
          .bee-image {
            height: 120px;
            width: 120px;
            transform: scale(0.52);
            margin-left: -29px;
            margin-top: -24px;
          }
          .bee-img-size {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
        .organisation_description{
          position: relative;
          height: 100%;
          span{
            position: absolute;
            top: 22px;
            left: 0;
            color: #333333;            
            font-size: 14px;             
            letter-spacing: 0.17px;           
            font-family: "Segoe UI";
            font-weight: 400;
          }
          .spaces_place{
            position: absolute;
            top: 42px;
            left: 0;
            color: #8e8e93;
            font-size: 8px;
            letter-spacing: 0.1px;
            font-family: "Segoe UI";
            font-weight: 400;
          }
        }
        img{
          margin-top: 17px;
        }
        .find_us_fb{
          width: 31px;
        }
        .find_us_insta{
          width: 31px;
        }
      }
      .interrested_row{
        width: 100%;
        position: relative;
        padding-left: 4%;
        padding-top: 9px;
        height: 50px;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
        background-color: #fcfcfc;
        button{
          width: 199px;
          height: 32px;
          box-shadow: 0 3px 6px rgba(255, 81, 156, 0.38);
          border-radius: 118px;
          background-image: linear-gradient(99deg, #fb4b7d 0%, #fe757b 100%);
          color: #ffffff;
          font-size: 14px;
          font-family: "Segoe UI";
          font-weight: 400;
        }
        .icons_place{
          justify-content: center;
          display: flex;
          width:calc( 100% - ( 199px + 8%) );
          height: 100%;
          margin-left: 4%;
          ion-icon{
            color: #c1c1c1;
            font-size: 23px;
            margin-top: 5px;
          }
        }
        .separation{
          width: 22%;
        }
      }
      
    }
  }







  .beego-container-profil {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .bee-hexagon {
    clip-path: url(#hexagonPath);
    background-repeat: no-repeat;
    background-position: -3px -15px;
    background-color: transparent;
    height: 188%;
  }
  .bee-image {
    height: 120px;
    width: 120px;
    transform: scale(0.48);
    margin-left: -29px;
    margin-top: -10px;
  }
  .bee-img-size {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .back-button-right {
    background-color: transparent;
  }
  .img-right {
    width: 63%;
  }
  .take-photo {
    position: absolute;
    top: 23px;
    right: 44px;
  }
  .take-photo-button {
    background-color: transparent;
  }
  .take-photo-img {
    width: 29px;
    height: 29;
  }
  .take-photo-img:active {
    transform: scale(0.8);
  }
  .param-profil {
    position: absolute;
    top: 28px;
    right: 14px;
  }
  .button-param {
    background-color: transparent;
  }
  .img-param {
    width: 20px;
    height: 19px;
  }
  .abonnés {
    position: absolute;
    top: 75%;
    left: 10%;
  }
  .suivis {
    position: absolute;
    top: 75%;
    left: 73%;
  }
  .abonnés-number {
    color: white;
  }
  .suivis-number {
    color: white;
  }
  .back-color {
    background-color: whitesmoke;
  }
  .profil-photo-part {
    position: fixed; // background-image: url(../../assets/imgs/photoDeProfil.png);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center bottom;
    width: 100%;
    height: 270px;
  }
  .bee-inner-cover {
    display: block;
    position: relative;
  }
  .cover-unset .bee-inner-cover {
    height: 100%;
    background-image: url(../../assets/imgs/photoDeProfil.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .bee-cover {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    .bee-inner-cover {
      width: 95%;
      max-width: 700px;
      margin: auto;
      img {
        width: 100%;
      }
    }
  }
  .bee-cover-blur {
    display: flex;
    position: absolute;
    left: -6px;
    right: -6px;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    filter: blur(8px);
    overflow: hidden;
    .bee-inner-cover {
      width: 100%;
      img {
        width: 100%;
        min-height: 270px;
      }
    }
  }
  .bee-hexagon {
    clip-path: url(#hexagonPath);
    background-repeat: no-repeat;
    background-position: -3px -15px;
    background-color: transparent;
    background-image: url(../../assets/imgs/homme.png);
    height: 100%;
    img {
      min-height: 100%;
      min-width: 100%;
    }
  }
  .bee-profile-image {
    height: 120px;
    width: 120px;
    transform: scale(0.6) translate(-40px, -40px);
  }
  .name-lname {
    margin-top: 20px;
  }
  .nom {
    font-weight: bolder;
    font-size: 16px;
  }
  .lieu-class {
    margin-top: 2px;
  }
  .lieu-img {
    width: 11px;
    height: 12px;
  }
  .lieu {
    font-size: 10px;
  }
  .para {
    background-color: rgba(218, 223, 233, 0.993);
    border-radius: 10px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
  }
  .para-style {
    margin-top: 2%;
    font-size: 12px;
  }
  .nomprenom {
    font-size: 9px;
    bottom: 28%;
    position: absolute;
    padding-left: 16px;
    color: inherit;
    text-decoration: none;
  }
  .fb-icon {
    position: absolute;
    margin-left: 32%;
    bottom: 1%;
  }
  .img-fb {
    width: 15px;
    height: 15px;
  }
  .insta-icon {
    position: absolute;
    bottom: 1%;
    margin-left: 16%;
  }
  .img-insta {
    width: 15px;
    height: 16px;
  }
  .snap-icon {
    bottom: 1%;
    position: absolute;
    margin-left: 0%;
  }
  .img-snap {
    width: 16px;
    height: 16px;
  }
  .ligne {
    width: 100%;
    height: 1px;
    background: #C9C9C9;
    margin-bottom: 10px;
  }
  .mesfavoris {
    position: relative;
    margin-top: 3%;
    left: 19px;
    font-size: 18px;
    font-weight: 600;
  }
  .first-photo {
    margin-top: 12%;
    margin-left: 6%;
    width: 180px;
    height: 180px;
    border-radius: 30px;
    background-image: url(../../assets/imgs/whats_up.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .photo-col {
    top: 0px;
    padding: 0px !important;
  }
  .take-photo-2 {
    position: relative;
    margin-top: -32%;
    margin-left: 57%;
  }
  .bee-profile-image-holder {
    width: 72px;
    height: 72px;
    margin: 10px 0px 0 19px;
  }
  /* The Masonry Container */
  .masonry {
    // display: flex;
    margin: auto; //max-width: 768px;
    column-gap: auto;
    justify-content: center; // flex-wrap: nowrap;
    // flex-direction: row;
  }
  /* The Masonry Brick */
  .item {
    position: relative;
    background: #fff; //padding: 1em; //margin: 0 0 1.5em;
    margin-bottom: 7px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
    .data {
      position: absolute;
      bottom: 5px;
      left: 5px;
      right: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
      border-radius: 15px;
      background-color: rgba($color: #535353, $alpha: 0.63);
      padding: 5px 11px 5px 11px;
      .name {
        color: #ffffff;
        font-family: "Raleway";
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.22px;
        margin: 0px;
      }
      .location {
        color: #ffffff;
        font-family: "Raleway";
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0.12px;
      }
    }
  }
  .whitediv {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, whitesmoke 100%);
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
  }
  .arrow_down_row {
    justify-content: center;
    button {
      background-color: transparent;
      z-index: 1;
    }
    .arrow-down-icon {
      font-size: 20px;
      font-weight: 600;
      color: #8e8e93;
    }
  }
  .localisation_row {
    border: black;
    height: 130px;
    position: relative;
    .adress_title {
      color: #535353;
      font-family: Raleway;
      font-size: 12px;
      font-weight: 500;
      position: absolute;
      top: 10px;
      left: 3%;
    }
    .adress {
      position: absolute;
      margin-left: 3%;
      margin-top: 28px;
      span {
        color: #95989a;
        font-family: Raleway;
        font-size: 10px;
        font-weight: 500;
        padding-left: 2px;
      }
    }
    .trac_img {
      width: 7px;
      height: 8px; // padding-right: 3px;
    }
    .btn_map {
      button {
        width: 160px;
        height: 30px;
        box-shadow: 0 3px 6px rgba(255, 81, 156, 0.22);
        border-radius: 118px;
        background-image: linear-gradient(100deg, #fb4b7d 0%, #fe757b 100%);
        position: absolute;
        top: 57px;
        left: 3%;
        color: #ffffff;
        font-family: Raleway;
        font-size: 12px;
        font-weight: 500;
        .icon_map {
          font-size: 10px;
          font-weight: 100;
          margin-left: 18px;
          padding-top: 9px;
        }
      }
    }
  }
  .about {
    position: relative;
    color: #8e8e93;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    height: 90px;
    overflow: hidden; // box-shadow:inset  0px -20px 0px 0px rgba(255, 0, 255, 0.45);
  }
  .about-transition {
    overflow: visible !important;
    height: auto !important;
  }
  .arrow_down_row {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15px;
    margin-bottom: 15px;
  }
  .picture {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    display: inline-block;
  }
  .picture_std {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    background-color: palevioletred;
  }
  .vr {
    width: 0.75px;
    margin: 6px 0;
    background: #C9C9C9;
  }
  .icon {
    width: 15px;
    height: 15px;
    margin-bottom: 10px;
  }
  .icon_under {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
  .text {
    font-size: 12px;
    color: #8E8E93;
  }
  .text_1 {
    font-size: 10px;
    color: #8E8E93;
  }
  /* Masonry on large screens */
  @media only screen and (min-width: 1024px) {
    .masonry {
      column-count: 4;
    }
  }
  /* Masonry on medium-sized screens */
  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
      column-count: 3;
    }
  }
  /* Masonry on small screens */
  @media only screen and (max-width: 767px) and (min-width: 300px) {
    .masonry {
      column-count: 2;
    }
  }
}
