page-space-category-specialty {
    ion-header{
        height: 119px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border: 1px solid rgba(0, 0, 0, 0);
        background-color: #353b5a;
        width: 100%;
        display: flex;
        justify-content: center;
        color: #ffffff;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.19px;
        padding-top: 35px;
        z-index: 1;
        ion-icon {
            color: white;
            left: 5%;
            font-size: 35px;
            font-size: 38px;
            position: absolute;
            top: 27px;
          }
          .segment-block {
            position: absolute;
            bottom: 0;
            left: 0;
            .segment-white {
                background-color: transparent !important;
                border: none !important;
                color: rgba(255, 255, 255, 0.4) !important;
                font-family: Raleway;
                font-size: 14px !important;
                font-weight: 500;
              }
              .segment-activated {
                font-size: 14px !important;
                background-color: transparent !important;
                border-bottom: 3px solid #f22876 !important;
                font-family: Raleway;
                font-weight: 500;
                color: white !important;
              }
          }
    }
    .content-ios {     
        background-color: #383f60;
    }
    .content-md {     
        background-color: #383f60;
    }
    .title_row{
        padding-left: 20px;
        padding-top: 30px;
        height: 64px;
        width: 100;
        color: #ffffff;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 500;
    }
    .category-showOff{
        filter: blur(4px);
    }
    .category_row{        
        position: relative;
        background-color: #323b58;
        width: 100%;
        padding-left: 20px;
        padding-top: 21px;
        input{
            width: calc( 100% - 114px );
            padding-left: 21px;
            color: #ffffff;
            font-size: 12px;
            font-family: "Segoe UI";
            font-weight: 400;
            background-color: #383f60;
            height: 30px;
            border-radius: 15px;
            border: none;
        }
        ion-icon{
            color: #7a82a5;
            position: absolute;
            left: calc( 100% - 140px );
            background-color: transparent;                 
            position: absolute;
            top: 27px;
            font-size: 17px;       
        }
        .imgCercle{
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            width: 30px;
            height: 30px;
            border-radius: 50px;
            margin-left: 16px;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 50px;
            }
        }
        .redCercle{
            width: 30px;
            height: 30px;
            border: 1px solid #f55657;
            border-radius: 50px;
            margin-left: 16px;
            position: relative;
            ion-icon{
                font-size: 20px;
                color: #f17374;
                position: absolute;
                top: 4px;
                left: 8px;
            }
          }
    }
    .add_cat{
        display: none;
        transition: all 1s;
    }
    .show-add-cat{
        display: flex;
    }
    .show-add-spe{
        display: flex;
    }
    .show-add-info{
        display: flex;        
    }
    .add_row{
        background-color: #323b58;
        height: 81px;
        padding-top: 24px;
        display: flex;
        justify-content: center;
        width: 100%;
        .blue_cercle{
            width: 32px;
            height: 32px;
            border: 1px solid #1f9ed5;
            border-radius: 50px;
            position: relative;
            ion-icon{
                color: #1f9ed5;
                font-size: 22px;
                position: absolute;
                top: 4px;
                left: 8px;
            }
        }
    }
    .btn_row{
        width: 100%;
        padding-top: 30px;
        display: flex;
        justify-content: center;
        .btn_container{
            width: 253px;
            display: flex;
            .submit_btn{
                width: 160px;
                height: 35px;
                box-shadow: 0 0 10px rgba(31, 158, 213, 0.31);
                border-radius: 17px;
                border: 1px solid #1f9ed5;
                background-color: #1f9ed5;
                color: #ffffff;
                font-family: Raleway;
                font-size: 14px;
                font-weight: 500;
            }
            .cancel_btn{
                background-color: transparent;
                color: #7a82a5;
                font-family: Raleway;
                font-size: 14px;
                font-weight: 500;
            }
            .space{
                width: 25px;
            }
        }
    }
    .closeName{
        height:calc( 100vh - 367px );
        position: fixed;
        top: 0;
        background-color: rgba(0, 0, 0, 0.59);
        width: 100%;
        z-index: 2;
        transition: all 1s;
        display: none;
    }   
    .showNames{
        display: flex !important;
    }
    .category_space_name{
        position: fixed;
        display:none;
        bottom:0;
        width: 100%;
        height: 387px;
        border-radius: 20px 20px 0 0;
        background-color: #323b58;
        z-index: 3;
        .search{
            margin-top: 25px;
            position: relative;
            margin-left: 21px;
            width: calc( 100% - 42px );
        }
        .text-search-listfollows{
            border-radius: 18px;
            width: 100%;
            border:none;
            height: 34px;
            border-radius: 18px;
            background-color: #383f60;
            padding-left: 26px;
            color: #7a82a5;
            font-family: "SF Pro Text";
            font-size: 14px;
            font-weight: 400;
            letter-spacing: -0.15px;
        }
        .text-search-listfollows::placeholder {
            color: #7a82a5;
            font-family: "Segoe UI";
            font-weight: 400;
            }
            .search-text-icon-listfollows{
                position: absolute;
                background-color: transparent;
                top: 9px;
            }
            .search-text-icon-listfollows:active{
                position: absolute;
                background-color: transparent;
                top: 10px;
                
            }
            .clear-text{
                position: absolute;
                background-color: transparent;
                top: 9px;
                right: 11px;
            }
            .names_row{
                margin-top: 36px;
                display: flex;
                justify-content: center;
                .separation{
                    position: absolute;
                    width: 1px;
                    height: 268px;
                    border: 0.5px solid #7a82a5;
                }
                .names_col{
                    display: block;
                    color: #ffffff;
                    font-family: Raleway;
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 0.17px;
                    padding-left: 40px !important;
                    line-height: 2.5;
                    overflow-y: scroll;
                }
            }
    }
}
