<!--
  Generated template for the SpaceEventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar>
    <ion-title>Notes</ion-title>
    <ion-buttons end>
      <ion-select [(ngModel)]="dateIn.selectedYear" (ionChange)="reCalc(-1,$event,dateIn.selectedYear)" selectedText="{{dateIn.selectedYear}}">
        <ion-option *ngFor="let x of dateIn.years" [value]="x">{{x}}</ion-option>
      </ion-select>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="backDrop"></div>
  <ion-grid>
    <ion-row class="date-Picker-holder">
      <ion-column>
        <!-- Calnedar code  -->
        <div class="calendar">
          <div class="top" [class.hide]="showingMonthes" (click)="showCalendar = !showCalendar">
            <h4>{{dateIn.monthes[dateIn.targetDate.month()]}}</h4>
          </div>
          <div class="monthes" [class.hide]="!showingMonthes">
            <div [class.active]="i == dateIn.targetDate.month()" *ngFor="let m of dateIn.monthes;let i=index" (click)="reCalc(i,ev)">{{m}}</div>
          </div>
          <div class="days">
            <div *ngFor="let d of dateIn.days">{{d}}</div>
          </div>
          <div class="daysNbr animated fadeInDown" [class.hide]="!showCalendar">
            <div (click)="selectDate(d,i)" [class.noHide]="d == now.date()" [class.selected]="i == selectedDateIndex" [class.today]="d == now.date() && dateIn.targetDate.month() == now.month() && dateIn.targetDate.year() == now.year()"
              [class.thisMonthDays]="i >= dateIn.startDayPos && i <= dateIn.endDayPos" *ngFor="let d of dateIn.daysNbr|slice:0:7;let i =index">{{d}}</div>
          </div>
          <div class="daysNbr animated fadeInDown" [class.hide]="!showCalendar">
            <div (click)="selectDate(d,i+7)" [class.noHide]="d == now.date()" [class.selected]="i+7 == selectedDateIndex" [class.today]="d == now.date() && dateIn.targetDate.month() == now.month() && dateIn.targetDate.year() == now.year()"
              [class.thisMonthDays]="i+7 >= dateIn.startDayPos && i <= dateIn.endDayPos" *ngFor="let d of dateIn.daysNbr|slice:7:14;let i =index">{{d}}</div>
          </div>
          <div class="daysNbr animated fadeInDown" [class.hide]="!showCalendar">
            <div (click)="selectDate(d,i+14)" [class.noHide]="d == now.date()" [class.selected]="i+14 == selectedDateIndex" [class.today]="d == now.date() && dateIn.targetDate.month() == now.month() && dateIn.targetDate.year() == now.year()"
              [class.thisMonthDays]="i+14 >= dateIn.startDayPos && i <= dateIn.endDayPos " *ngFor="let d of dateIn.daysNbr|slice:14:21;let i =index">{{d}}</div>
          </div>
          <div class="daysNbr animated fadeInDown" [class.hide]="!showCalendar">
            <div (click)="selectDate(d,i+21)" [class.noHide]="d == now.date()" [class.selected]="i+21 == selectedDateIndex" [class.today]="d == now.date() && dateIn.targetDate.month() == now.month() && dateIn.targetDate.year() == now.year()"
              [class.thisMonthDays]="i+21 >= dateIn.startDayPos && i <= dateIn.endDayPos " *ngFor="let d of dateIn.daysNbr|slice:21:28;let i =index">{{d}}</div>
          </div>
          <div class="daysNbr animated fadeInDown" [class.hide]="!showCalendar">
            <div (click)="selectDate(d,i+28)" [class.noHide]="d == now.date()" [class.selected]="i+28 == selectedDateIndex" [class.today]="d == now.date() && dateIn.targetDate.month() == now.month() && dateIn.targetDate.year() == now.year()"
              [class.thisMonthDays]="i+28 < dateIn.endDayPos" *ngFor="let d of dateIn.daysNbr|slice:28:35;let i =index">{{d}}</div>
          </div>
          <div class="daysNbr animated fadeInDown" [class.hide]="!showCalendar" *ngIf="dateIn.daysNbr.length > 35">
            <div (click)="selectDate(d,i+35)" [class.noHide]="d == now.date()" [class.selected]="i+35 == selectedDateIndex" [class.today]="d == now.date() && dateIn.targetDate.month() == now.month() && dateIn.targetDate.year() == now.year()"
              [class.thisMonthDays]="i+35 < dateIn.endDayPos " *ngFor="let d of dateIn.daysNbr|slice:35;let i =index">{{d}}</div>
          </div>
        </div>
      </ion-column>
    </ion-row>
    <ion-row class="date-with-content">
      <ion-column *ngIf="dateData && dateData.length > 0; else elseTemplate">
        <h3 class="content-title">A venir</h3>
        <div class="card" *ngFor="let item of dateData">
          <img [src]="item.img" alt="">
          <div class="overlay">
            <div class="top">
              <span class="badge">
                Evenement
              </span>
              <div class="menu">
                <ion-icon name="more"></ion-icon>
              </div>
            </div>
            <div class="bottom">
              <span class="date">30 dec 2017</span>
              <div class="title-location">
                <span>Visual - The next round level</span>
                <span>
                  <ion-icon name="pin"></ion-icon>some where ya benzi</span>
              </div>
            </div>
          </div>
        </div>
      </ion-column>
      <ion-column #elseTemplate>
        <img src="../../assets/imgs/space-events/no-events.svg" alt="">
        <p>Vous n'avez pas de programme ,</p>
        <p>Creer un avec une simple click</p>
        <ion-fab>
          <button ion-fab color="primary">Button</button>
        </ion-fab>
      </ion-column>
    </ion-row>
  </ion-grid>
</ion-content>
