page-space-events {
  .hide {
    display: none !important;
  }
  .toolbar-background {
    background: #353b5a;
  }
  .center-img {
    margin: auto;
    margin-bottom: 10px;
  }
  .theFab {
    height: 56px;
  }
  .fabBTn {
    margin-left: calc( 50% - 28px);
  }
  ion-navbar * {
    color: white !important;
    ion-select {
      max-width: unset;
    }
  }
  font-family: "Raleway";
  ion-content {
    background: #383f60;
    .scroll-content {
      background: #383f60;
      padding-bottom: 20px;
      .backDrop {
        z-index: 3;
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        height: 100%;
        width: 100vw;
        top: 0;
        left: 0;
      }
    }
    ion-grid {
      padding: 0 !important;
      margin: 0;
      background: #383f60;
      min-height: 100%;
      height: auto;
      .date-Picker-holder {
        margin: 0;
        min-height: 130px;
        height: auto;
        background: #353b5a;
        ion-column {
          width: 100%;
        }
        /**
         * Calendar work goes here
         */
        .calendar-show {
          border-radius: 0 0 20px 20px;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        }
        .calendar {
          font-family: "Raleway";
          position: absolute;
          min-width: 300px; // max-width: 360px;
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: column;
          background: #353b5a;
          overflow: hidden;
          padding-bottom: 10px;
          user-select: none;
          z-index: 4;
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.16);
          .top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: white; // large screen fix
            max-width: 100%;
            h4 {
              margin: 0;
              padding: 10px;
              font-size: 20px;
              text-transform: capitalize;
            }
          }
          .monthes {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 5px;
            cursor: pointer;
            overflow-x: scroll; // large screen fix
            max-width: 360px;
            width: 100%;
            margin: auto;
            div {
              margin: auto;
              color: #797d92;
              min-width: 100px;
              text-align: center;
              font-size: 14px;
              text-transform: capitalize;
            }
            .active {
              color: white;
              font-size: 20px;
              vertical-align: text-top;
            }
          }
          .monthes::-webkit-scrollbar {
            height: 0;
            background: transparent;
            /* optional: just make scrollbar invisible */
          }
          .monthes::-webkit-scrollbar {
            visibility: none;
          }
          .days {
            display: flex;
            flex-direction: row;
            padding-top: 10px;
            cursor: pointer;
            justify-content: space-around; // large screen fix
            max-width: 360px;
            width: 100%;
            margin: auto;
            div {
              margin: auto;
              color: rgba(255, 255, 255, 34%);
              opacity: 34%;
              width: calc(80% / 7);
              text-align: center;
              font-size: 12px;
              user-select: none;
              padding-top: 5px;
            }
            .active {
              color: white;
            }
            .selected {
              background: #fc577c;
              border-radius: 15px 15px 0px 0px;
            }
          }
          .daysNbr {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            color: #d8dbe3;
            font-size: 14px;
            font-weight: bold;
            min-height: 40px !important;
            height: auto; // large screen fix
            max-width: 360px;
            width: 100%;
            margin: auto;
            .thisMonthDays {
              color: rgba(255, 255, 255, 1) !important;
            }
            .today {
              color: #60d460 !important;
            }
            .selected {
              background: #fc577c;
            }
            .closedCalendarSelected {
              border-radius: 0px 0px 15px 15px !important;
            }
            div {
              margin: auto;
              color: gray;
              width: calc(80% / 7);
              text-align: center;
              height: 100%;
              border-radius: 5px;
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
          }
        }
      }
      .date-with-content {
        padding: 10px;
        position: relative;
        justify-content: center;
        flex-grow: 1;
        .content-title {
          color: white;
          font-size: 20px;
          margin-bottom: 25px;
        }
        .card {
          height: 266px;
          max-width: 330px;
          min-width: 300px;
          width: auto;
          border-radius: 15px;
          position: relative;
          overflow: hidden;
          margin-left: auto;
          margin-bottom: 20px;
          box-shadow: 0px 0px 05px rgba(0, 0, 0, 0.65);
          img,
          .overlay {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }
          img {
            object-fit: cover;
          }
          .overlay {
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px;
            .top {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              .badge {
                color: white;
                background: #1f9ed5;
                text-transform: uppercase;
                font-size: 10px;
                padding: 5px 10px 5px 10px;
                border-radius: 5px;
                box-shadow: 0px 3px 3px rgba(31, 158, 213, 0.35);
              }
              .menu {
                padding-right: 10px;
                ion-icon {
                  margin: auto;
                  color: white;
                }
              }
            }
            .bottom {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .date {
                color: white;
                text-align: right;
                font-size: 10px;
              }
              .title-location {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                background: rgba(255, 255, 255, 0.5);
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
                margin: 5px;
                padding: 10px;
                border-radius: 10px;
                span:nth-child(1) {
                  color: #333030;
                  font-size: 18px;
                  margin-bottom: 10px;
                }
                span:nth-child(2) {
                  ion-icon {
                    margin-right: 5px;
                  }
                  color: white;
                  font-size: 10px;
                }
              }
            }
          }
        }
        .no-content {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          p {
            color: #C9C9C9;
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 3px;
          }
        }
      }
    }
  }
}
