<!--
  Generated template for the ChilloutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>chillout</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content no-padding>
  <ion-grid no-padding>
    <ion-row align-items-center class="topCover">
      <ion-col align-self-stretch>
        <div class="searchWrapper">
          <ion-searchbar class="search" [(ngModel)]="searchText" [showCancelButton]="false" (ionInput)="null" (ionCancel)="null">
          </ion-searchbar>
          <ion-icon class="searchbar-search-icon newIcon" name="search"></ion-icon>
        </div>
        <ion-slides [pager]="true" [autoplay]="2000" [loop]="true" [zoom]="false" *ngIf="slides && slides.length" class="slider">
          <ion-slide *ngFor="let slide of slides">
            <img class="CoverSlider" src="{{slide}}" />
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row class="fllow">
      <ion-col class="no-padding">
        <div class="tabs-ex custom-padding">
          <div (click)="indexPage = 1" [ngClass]="{active: indexPage == 1}">All</div>
          <div (click)="indexPage = 2" [ngClass]="{active: indexPage == 2}">Café</div>
          <div (click)="indexPage = 3" [ngClass]="{active: indexPage == 3}">Bar & lounge</div>
          <div (click)="indexPage = 4" [ngClass]="{active: indexPage == 4}">Restaurent</div>
          <div (click)="indexPage = 5" [ngClass]="{active: indexPage == 5}">Restaurent</div>
          <div (click)="indexPage = 6" [ngClass]="{active: indexPage == 6}">Boutiques</div>
          <div (click)="indexPage = 7" [ngClass]="{active: indexPage == 7}">Espace Commerciale</div>
          <div (click)="indexPage = 8" [ngClass]="{active: indexPage == 8}">Autre</div>
          <div>&nbsp;</div>
        </div>
        <div class="filter custom-padding">
          <div *ngFor="let item of ['first','seconde','third','fourth'];let i = index"> {{item}} filter</div>
          <div>&nbsp;</div>
        </div>
        <div class="subPageContainer" [ngSwitch]="indexPage">
          <div class="subPage" *ngSwitchCase="1">
            <div class="grid-viewr">
              <div class=card-ex>
                <div class=img>
                  <img src="https://picsum.photos/100/109" alt="">
                </div>
                <span class="title">Nom de l'espace</span>
                <span class="sub-title">Nom de l'espace</span>
                <div class="rating"></div>
              </div>
              <div class=card-ex>
                <div class=img>
                  <img src="https://picsum.photos/100/109" alt="">
                </div>
                <span class="title">Nom de l'espace</span>
                <span class="sub-title">Nom de l'espace</span>
                <div class="rating"></div>
              </div>
              <div class=card-ex>
                <div class=img>
                  <img src="https://picsum.photos/100/109" alt="">
                </div>
                <span class="title">Nom de l'espace</span>
                <span class="sub-title">Nom de l'espace</span>
                <div class="rating"></div>
              </div>
              <div class=card-ex>
                <div class=img>
                  <img src="https://picsum.photos/100/109" alt="">
                </div>
                <span class="title">Nom de l'espace</span>
                <span class="sub-title">Nom de l'espace</span>
                <div class="rating"></div>
              </div>
              <div class=card-ex>
                <div class=img>
                  <img src="https://picsum.photos/100/109" alt="">
                </div>
                <span class="title">Nom de l'espace</span>
                <span class="sub-title">Nom de l'espace</span>
                <div class="rating"></div>
              </div>
              <div class=card-ex>
                <div class=img>
                  <img src="https://picsum.photos/100/109" alt="">
                </div>
                <span class="title">Nom de l'espace</span>
                <span class="sub-title">Nom de l'espace</span>
                <div class="rating"></div>
              </div>
            </div>
          </div>
          <div padding class="subPage" *ngSwitchCase="2">Café sub page</div>
          <div padding class="subPage" *ngSwitchCase="3">Bar & lounge sub page</div>
          <div padding class="subPage" *ngSwitchCase="4">Restaurent sub page</div>
          <div padding class="subPage" *ngSwitchDefault>This page still not created</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
