<!--
  Generated template for the ShoppingListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Shopping List</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="navigateToAddShoppingPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar [(ngModel)]="nom" [showCancelButton]="shouldShowCancel" autocomplete="on" (ionInput)="search(nom)" (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <!--
      <ion-item>
        <ion-label floating>Rechercher</ion-label>
        <ion-input type="text" [(ngModel)] ="nom"></ion-input>
      </ion-item>
      <button ion-button block (click)="search(nom)">Rechercher 
          <ion-icon name="ios-search"></ion-icon> 
        </button>
    -->


  Résultat de la recherche
  <ion-list>

    <ion-item *ngFor="let item of rechercher$ |
             async" (click)="selectShoppingItem(item)">
      <!-- {{item.key}}-->
      <h2>ItemName : {{item.itemName}}</h2>
      <h3>ItemNumber : {{item.itemNumber}}</h3>
      <h3>Date : {{item.dateevt}} </h3>

    </ion-item>
  </ion-list>

  <ion-list>

    <ion-item *ngFor="let item of shopListRef$ |
     async" (click)="selectShoppingItem(item)">
      <!-- {{item.key}}-->
      <h2>ItemName : {{item.itemName}}</h2>
      <h3>ItemNumber : {{item.itemNumber}}</h3>
      <h3>Date : {{item.dateevt}} </h3>


    </ion-item>
  </ion-list>
  <h2> événement du jour</h2>
  <ion-list *ngFor="let item of shoppingListRef$ |
  async">

    <ion-item (click)="selectShoppingItem(item)">

      <!-- {{item.key}}-->
      <h2>ItemName : {{item.itemName}}</h2>
      <h3>ItemNumber : {{item.itemNumber}}</h3>
      <h3>Date : {{item.dateevt}} </h3>
    </ion-item>
  </ion-list>
  <h2> Evénement futurs</h2>
  <ion-list *ngFor="let item of shoppListRef$ |
  async">

    <ion-item (click)="selectShoppingItem(item)">

      <!-- {{item.key}}-->
      <h2>ItemName : {{item.itemName}}</h2>
      <h3>ItemNumber : {{item.itemNumber}}</h3>
      <h3>Date : {{item.dateevt}} </h3>
    </ion-item>
  </ion-list>

</ion-content>