page-find-friend {
  .toolbar-background {
    background-image: linear-gradient( 98deg, #fb4b7d 0%, #fe757b 100%) !important;
  }
  .tool-bar {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.16);
    border: 1px solid rgba(0, 0, 0, 0);
    background-image: linear-gradient( 98deg, #fb4b7d 0%, #fe757b 100%) !important;
  }
  .toolbar-title {
    color: #ffffff;
    font-family: "Raleway";
    font-size: 24px;
    font-weight: 500;
    padding-left: 17px;
  }
}
