<!--
  Generated template for the FindFriendPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar [hideBackButton]="true" class="tool-bar" align-title="left">
    <div class="toolbar-title">
      Trouvez vous amis
    </div>

  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid class="back-stylesh">
    <ion-row class="beego-row-center">
      <div class="holder" *ngIf="friends.length > activeIndex ;else nofriends">
        <div *ngFor="let item of friends;let i= index;" 
          class="col friends" [class.active]="i == activeIndex" [class.slide-left]="item.state == '1'"
          [class.slide-right]="item.state == '-1'" (swipe)="swiperHandler($event,item)">
          <div class="col main-wrap">
            <div class="effect-overlay" *ngIf="item.state == '1' || item.state == '-1'">
              <div class="accepted pos-mid-icon" *ngIf="item.state == '1'">
                <ion-icon name="checkmark-circle-outline" class="animated pulse infinite"></ion-icon>
              </div>
              <div class="rejected pos-mid-icon" *ngIf="item.state == '-1'">
                <ion-icon name="close-circle" class="animated pulse infinite"></ion-icon>
              </div>
            </div>
            <div class="cover-holder">
              <img [src]="item.coverURL"
                alt="" class="cover">
            </div>
            <div class="row content">
              <img [src]="item.photoURL"
                alt="" class="profile">
              <div>
                <h2>{{item.firstName}} {{item.lastName}} </h2>
                <span class="location">
                  <ion-icon name="pin"></ion-icon>
                  {{item.gov}} ,
                  <strong>{{item.Age}}</strong>
                </span>
              </div>
            </div>
            <div class="center-row-childes">
              <button class="button-profile" ion-button round (click)="friend_follow_Page()">Voir profil</button>
            </div>
          </div>
        </div>
      </div>
      <ng-template #nofriends>
        <ion-col class="NoFreindMsg">
          <div class="heart"></div>
          <p>
            no more freinds to suggest , well done :) back later for more .
          </p>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>
</ion-content>
<svg height="0" width="0" viewbox="0 0 500 500">
  <defs>
    <clipPath id="hexagonPathFind" transform="scale(0.56 0.56)">
      <path id="sug1-2Find" data-name="sug1" class="cls-1" d="M98.434,37.981V68.895A22.732,22.732,0,0,1,87.045,88.419L60.2,103.875a22.032,22.032,0,0,1-22.371,0l-12.2-7.322L11.389,88.419h-.407A22.357,22.357,0,0,1,0,68.895V37.981A19.8,19.8,0,0,1,.407,33.1a20.822,20.822,0,0,1,4.068-8.542,20.247,20.247,0,0,1,6.915-6.1L38.235,3A22.032,22.032,0,0,1,60.606,3L87.452,18.457A22.851,22.851,0,0,1,98.434,37.981Z"
        transform="translate(0 0)" />
    </clipPath>
  </defs>
</svg>
