page-find-friend {
  .back-stylesh {
    background: url(../../assets/imgs/findFriend/vectorpaint2.svg) top left
      no-repeat;
    background-size: contain;
    background-attachment: fixed;
  }
  .grid {
    padding: 0px;
    width: 100%;
    min-height: 100%;
  }
  .row {
    padding: 0px;
  }
  .col {
    padding: 0px;
  }
  .NoFreindMsg {
    height: 100vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .heart {
      width: 100px;
      height: 100px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: url(https://cssanimation.rocks/images/posts/steps/heart.png)
        no-repeat;
      background-position: 0 0;
      cursor: pointer;
      animation: fave-heart 1s steps(28);
    }
    .heart:hover,
    .heart:active {
      background-position: -2800px 0;
      transition: background 1s steps(28);
    }
    @keyframes fave-heart {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: -2800px 0;
      }
    }
    p {
      font-family: "Raleway";
      font-size: 14px;
      font-weight: 700;
      margin-top: 150px;
      text-align: center;
      text-transform: capitalize;
      padding: 0px 10px 0px 10px;
    }
  }
  .toolbar-background {
    background-image: linear-gradient(180deg, #fb6b94 0%, #fd8493 100%);
  }
  .tool-bar {
    //box-shadow: 0 0 6px rgba(0, 0, 0, 0.16); //border: 1px solid rgba(0, 0, 0, 0);
    background-image: linear-gradient(
      98deg,
      #fb4b7d 0%,
      #fe757b 100%
    ) !important;
  }
  .toolbar-title {
    color: #ffffff;
    font-family: "Raleway";
    font-size: 21px;
    font-weight: 500;
    padding-left: 17px;
  }
  .holder {
    position: relative;
    height: 540px;
    width: 336px;
    .active {
      z-index: 3 !important;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) !important; //-webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      animation: slide-fwd-center 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    }
    .active + div {
      transform: scale(0.9);
      z-index: 2;
      top: 25px;
      transform-origin: 50% 100%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) !important;
    }
    .active + div + div {
      transform: scale(0.8);
      z-index: 1;
      top: 50px;
      transform-origin: 50% 100%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) !important;
    }
    .active + div + div div {
      z-index: -1;
      opacity: 0;
    }
    .slide-left {
      z-index: 4;
      animation: left-sliding 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      animation-delay: 0.4s;
    }
    .slide-right {
      z-index: 5;
      animation: right-sliding 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      animation-delay: 0.4s;
    }
    .friends {
      position: absolute;
      left: 0;
      overflow: hidden;
      position: absolute;
      height: 480px;
      width: 330px;
      border-radius: 20px;
      background: white;
    }
    .main-wrap {
      position: relative;
      height: 100%;
      justify-content: center;
      .effect-overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 999;
        animation: showUpSign 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
        .pos-mid-icon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          ion-icon {
            margin: auto;
            font-size: 64px;
            color: white;
          }
        }
        .accepted {
          position: relative;
          background: #11998e;
          /* fallback for old browsers */
          background: -webkit-linear-gradient(to bottom, #38ef7d, #11998e);
          /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to bottom, #38ef7d, #11998e);
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          height: 100%;
          width: 100%;
          z-index: 999;
          opacity: 0.5;
        }
        .rejected {
          position: relative;
          background: #cb2d3e;
          /* fallback for old browsers */
          background: -webkit-linear-gradient(to bottom, #ef473a, #cb2d3e);
          /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to bottom, #ef473a, #cb2d3e);
          /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
          height: 100%;
          width: 100%;
          z-index: 999;
          opacity: 0.5;
        }
      }
      @keyframes showUpSign {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
    h2 {
      margin: 0px;
      color: #333333;
      font-family: "Raleway";
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.19px;
      padding-top: 11px;
    }
    .location {
      color: #8e8e93;
      font-family: "Raleway";
      font-size: 12px;
      letter-spacing: 0.14px;
      font-weight: 500;
    }
    .cover-holder {
      height: 339px;
      width: 100%;
      margin-bottom: 7px;
    }
    .cover {
      //height: 100%;
      height: 339px;
      width: 330px;
      object-fit: cover;
    }
    .profile {
      width: 56px;
      height: 62px;
      object-fit: cover;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      margin-right: 23px;
      clip-path: url(#hexagonPathFind);
    }
    .content {
      padding: 0px 17px 16px 17px;
    }
    .center-row-childes {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .button-profile {
      background-image: linear-gradient(100deg, #fb6b94 0%, #fd8493 100%);
      margin: 0px;
      min-width: 185px;
      font-family: "Raleway";
      font-size: 14px;
      font-weight: 500;
    }
    @-webkit-keyframes slide-fwd-center {
      0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
      }
      100% {
        -webkit-transform: translateZ(160px);
        transform: translateZ(160px);
      }
    }
    @keyframes slide-fwd-center {
      0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
    @keyframes left-sliding {
      0% {
        transform: scale(1) translateX(0) rotate(0deg);
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: scale(1.1) translateX(-1000px) rotate(-45deg); //z-index: 0;
      }
    }
    @keyframes right-sliding {
      0% {
        transform: scale(1) translateX(0) rotate(0deg);
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: scale(1.2) translateX(+1000px) rotate(45deg);
      }
    }
  }
}
