page-expolre-circular {
  font-family: "Raleway";
  ion-content {
    background: rgba(0, 0, 0, 0.5) !important;
    .holder {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: calc(100vh);
    }
  }
  .main-wrapper {
    background-color: white;
    background-image: url("../../assets/imgs/explore-circular/Rectangle_159.png");
    background-position: 50% 10px;
    background-repeat: no-repeat;
    background-size: 100px;
    border-radius: 45px 45px 0px 0px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    max-width: 360px;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 0;
    .circular {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      .top {
        .heading {
          display: flex;
          flex-direction: row;
          justify-content: center;
          vertical-align: middle;
          span {
            font-size: 18px;
            font-weight: 400;
            margin-right: 10px;
          }
          ion-icon {
            font-size: 18px;
            color: gray;
          }
        }
        .texting {
          display: flex;
          flex-direction: row;
          justify-content: center;
          p {
            width: 80%;
            color: gray;
            font-size: 12px;
            text-align: center;
          }
        }
        .dotted-row {
          display: flex;
          flex-direction: row;
          justify-content: center;
          .dot {
            height: 30px;
            width: 30px;
            background: url('../../assets/imgs/explore-circular/Ellipse_2500.png');
            background-size: cover;
            margin: 0px 10px 0px 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            div {
              margin: auto;
              img {
                object-fit: cover;
              }
            }
          }
        }
        .arc-holder {
          width: 100%;
          height: 160px;
          overflow: hidden;
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: center;
          margin-top: 20px;
          margin-bottom: 20px;
          .real-holder {
            width: 100%;
            max-width: 505px;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: space-between;
            z-index: 9;
            height: 100%;
            div {
              z-index: 10;
              color: red;
              position: absolute; //height: 100%;
              width: calc(100% / 5);
              text-align: center;
            }
            div:nth-of-type(1) {
              bottom: 10%;
              left: 0;
            }
            div:nth-of-type(2) {
              bottom: 50%;
              left: 20%;
            }
            div:nth-of-type(3) {
              bottom: 80%;
              left: 40%;
            }
            div:nth-of-type(4) {
              bottom: 50%;
              left: 60%;
            }
            div:nth-of-type(5) {
              bottom: 10%;
              left: 80%;
            }
          }
          .hidden-arc {
            border-radius: 50%;
            width: 660px !important;
            height: 660px !important;
            border: 1px solid gray;
            position: absolute;
            background: white;
            transform: scale(0.75);
          }
          .arc {
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: center;
            background: rgba($color: #000000, $alpha: 0.1);
            border: 1px solid gray;
            /* override things */
            border-radius: 50%;
            width: 660px !important;
            height: 660px !important;
            .elem {
              position: absolute;
              top: 50%; //left: 50%;
              margin-left: auto;
              display: flex;
              flex-direction: column;
              img {
                width: auto;
                object-fit: contain;
              }
              span {
                font-size: 12px;
                color: gray;
                margin-top: 7px;
              }
            }
            .elem:nth-of-type(1) {
              transform: rotate(-115deg) translate(310px) rotate(115deg);
            }
            .elem:nth-of-type(2) {
              transform: rotate(-103deg) translate(310px) rotate(103deg);
            }
            .elem:nth-of-type(3) {
              transform: rotate(-90deg) translate(310px) rotate(90deg);
            }
            .elem:nth-of-type(4) {
              transform: rotate(-78deg) translate(310px) rotate(78deg);
            }
            .elem:nth-of-type(5) {
              transform: rotate(-65deg) translate(310px) rotate(65deg);
            }
            .elem:nth-child(1n+6) {
              //display: none !important;
              transform: rotate(0deg) translate(310px) rotate(0deg);
            }
          }
        }
        .range-holder {
          display: flex;
          flex-direction: row;
          justify-content: center;
          ion-range {
            width: 70%;
            .range-bar-active,
            .range-tick-active {
              background: #bdbdbd;
            }
            .range-knob {
              width: 20px;
              height: 20px;
              background: #fd8493;
              top: 11px;
              left: 11px;
            }
            .range-pin {
              padding: 8px 0;
              text-align: center;
              border-radius: 50%;
              background: #fd8493; //color: white;
              top: -30px;
              display: inline-block;
              min-width: 28px;
              height: 28px;
              font-size: 12px;
              transition: transform 120ms ease, background-color 120ms ease, -webkit-transform 120ms ease;
            }
            .range-tick {
              border-radius: 0;
              height: 10px;
              top: 17px;
            }
          }
        }
        .bottom-ctrl {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          button {
            color: gray !important;
          }
        }
        .bottom-btn {
          display: flex;
          flex-direction: row;
          justify-content: center;
          button {
            width: 115px;
            height: 55px;
            border-radius: 115px 115px 0 0;
            background: #1f9ed5;
            color: white;
            font-size: 14px;
            border: none;
            padding-top: 15px;
          }
        }
      }
    }
    .region {
      .top {
        .heading {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          vertical-align: middle;
          padding: 0px 15px 0px 15px;
          span {
            font-size: 16px;
            font-weight: 700;
            margin-right: 10px;
            text-align: left;
            flex-grow: 1;
          }
          .selection {
            font-size: 14px;
            color: gray;
          }
        }
      }
      .contain {
        padding: 15px;
        .row {
          display: flex;
          flex-direction: row;
        }
        ion-grid {
          max-height: 300px;
          overflow-y: scroll;
        }
        ion-searchbar {
          width: 70%;
          padding: 0px;
          background: transparent;
          .searchbar-input-container {
            border-radius: 20px;
            overflow: hidden;
            .searchbar-input {
              background: #f3f3f3;
            }
          }
        }
      }
      .bottom-ctrl {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        button {
          color: gray !important;
        }
      }
      .bottom-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        button {
          width: 115px;
          height: 55px;
          border-radius: 115px 115px 0 0;
          background: #1f9ed5;
          color: white;
          font-size: 14px;
          border: none;
          padding-top: 15px;
        }
      }
    }
  }
}
