page-update-program {
  // top: calc(50% - 297px)!important;
  ion-content {
    background: none !important;
    overflow-y: scroll;
  }
  .scroll-content {
    overflow: visible;
  }
  .update-program-body {
    background-color: #ffffff;
    margin-top: 33px; // padding-top: 13px;
  }
  .container_update_program {
    color: gray;
    position: relative;
    width: calc(100% - 20px);
    max-width: 351px;
    min-width: 200px;
    margin: auto;
  }
  .update_program_title {
    margin-left: 20px;
    margin-top: 40px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.24px;
  }
  .spaces_list {
    margin-top: 32px;
    margin-left: 39px;
    margin-right: 39px;
    padding-top: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    min-height: 250px;
    background-color: white;
    z-index: 0;
  }
  .for-search {
    position: relative;
    padding: 0 16px;
  }
  .text-search {
    background-color: rgba(241, 241, 241, 0.84);
    border-radius: 18px;
    height: 34px;
    width: 100%;
    border: none;
    padding-left: 30px;
    color: #8e8e93;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.13px;
  }
  .text-search::placeholder {
    color: #8e8e93;
    font-size: 12px;
  }
  .search-text-icon {
    position: absolute;
    background-color: transparent;
    top: 9px;
    left: 19px;
  }
  .search-text-icon:active {
    position: absolute;
    background-color: transparent;
    top: 10px;
  }
  .clear-text {
    position: absolute;
    background-color: transparent;
    top: 9px;
    right: 22px;
    img {
      width: 14px;
      height: 14px;
    }
  }
  .listOfSpaces {
    margin-top: 9px;
    height: 250px;
    overflow-y: scroll;
  }
  .space {
    background-color: transparent;
  }
  .space_title {
    color: #333333;
    font-size: 14px;
    letter-spacing: 0.17px;
    font-family: "Segoe UI";
    font-weight: 400;
    text-transform: capitalize;
  }
  .lieu {
    color: #8e8e93;
    font-size: 8px;
    letter-spacing: 0.1px;
    font-family: "Segoe UI";
    font-weight: 400;
  }
  .img_size {
    width: 40px !important;
    height: 40px !important;
  }
  .rating-ex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    top: 13px;
    right: 23px;
    position: absolute;
  }
  .rating-ex ul {
    padding: 0px;
    text-align: center;
    margin: 0px;
    &.rating li {
      padding: 5px 0px !important;
      background: none;
      color: #ffb400;
      text-align: center;
      ion-icon {
        font-size: 12px;
      }
    }
  }
  .beeBg {
    width: 15px;
    height: 16px;
    border-radius: 50px;
    position: absolute;
    top: 7px;
    left: 12px;
    background-color: rgb(254, 204, 55);
    background-image: url(../../assets/imgs/event/bee.svg);
    background-repeat: no-repeat;
    background-size: 10px 7px;
    background-position: center center;
  }
  .fixDetailsProgram {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.19);
    height: 145px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    z-index: 9;
    position: relative;
    border-radius: 10px;
    margin-top: -38px;
    .iconsRow {
      display: flex;
      justify-content: space-around;
      width: 100%;
      position: absolute;
      top: 15px;
    }
    .iconsbtn {
      background-color: transparent;
    }
    .pinsize {
      width: 41px;
      height: 41px;
      ;
    }
    .titleRow {
      display: flex;
      justify-content: space-around;
      width: 100%;
      position: absolute;
      top: 64px;
      font-family: "Segoe UI";
      font-weight: 400;
      color: #535353;
      font-size: 12px;
      margin-left: -6px;
    }
    .btnRow {
      display: flex;
      justify-content: space-around;
      width: 100%;
      position: absolute;
      top: 94px;
    }
    .valider {
      width: 113px;
      height: 24px;
      border-radius: 30px;
      background-image: linear-gradient(98deg, #fb4b4d 0%, #fe757b 100%);
      font-family: Raleway;
      font-size: 12px;
      font-weight: 500;
    }
    .annuler {
      width: 113px;
      height: 24px;
      border-radius: 30px;
      background-color: #e8e8e8;
      color: #535353;
      ;
      font-family: Raleway;
      font-size: 12px;
      font-weight: 500;
    }
  }
}

.update-program-modal {
  background-color: rgba(0, 0, 0, 0.21);
  .modal-wrapper {
    //     width: 100%;
    // height: 100%;
    box-shadow: none; // background-color: #23212147;
  }
  ion-backdrop {
    visibility: hidden;
  } // @media only screen and (min-height: 200px) {
  //     .modal-wrapper {
  //         background-color: red;
  //     }
  // }
}
