page-space-history {
    ion-header {
        height: 70px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border: 1px solid rgba(0, 0, 0, 0);
        background-color: #353b5a;
        display: flex;
        justify-content: center;
        span {
          color: #ffffff;
          font-family: Raleway;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0.19px;
          margin-top: 33px;
        }
        .back {
          position: absolute;
          left: 5%;
          top: 22px;
          color: white;
          font-size: 41px;
        }
        .bgImg{
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            width: 30px;
            height: 30px;
            position: absolute;
            top: 26px;
            right: 5%;
            border-radius: 50px;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 50px;
            }
        }
      }
      .content-ios {
        background-color: #383f60;
      }
      .content-md {
        background-color: #383f60;
      }
      .history_contain{
        width: calc( 100% - 40px ) ;
        margin-left: 20px;
        margin-top: 30px;
        height: auto;
        max-height: 400px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
        border-radius: 15px;
        background-color: #394166;
        .title_row{
            width: 100%;
            padding-left: 16px;
            padding-top: 16px;
            color: #ffffff;
            font-family: Raleway;
            font-size: 16px;
            font-weight: 500;
            height: 51px;
            position: relative;
            .title_seperate{
                width: 100%;
                height: 0;
                border: 0.5px solid #485280;
                position: absolute;
                bottom: 0;
                left: 0px;
            }
        }
        .list_row{
            overflow-y: scroll;
            margin-top:17px;
            width: 100%;
            .list_width{
                width: 100%;   
            }
            .historic{
                width: 75%;
                .gray-text{
                    color: #c2c2c2;
                    font-family: "Segoe UI";
                    font-weight: 400;
                    font-size: 12px;
                }
                .dark-text{
                  font-size: 12px;
                  font-weight: 500;
                  color: white;
                  font-family: Raleway;
                  text-transform: capitalize; 
                }
          
              }
              .timing-historic{
                margin-top: 3%;
                float: right;
                margin-right: 7%;
                color: #a8a9aa;
                font-family: Lato;
                font-size: 10px;
                font-weight: 400;
              }
              .avatar-height{
                margin-top: -3% !important;
              }
              .list_row{
                margin-top: 12px;
              }
              .line{
                position: absolute;
                width: 88%;
                left: 6%;
                border: 0.5px solid #485280;
                height: 0;
                bottom: 0;
              }          
        }
      }
      .item_bg{
        background-color: #394166;
        width: 100%;
      }

}
