page-signup2 {
    .beego-input-transparent {
        width: 100%;
        padding-left: 29px;
    }
    
    .bee-input-container{
        width: 96px;
        text-align: center;
    }
    .bee-input-container2{
        width: 146px;
        >.beego-input-transparent{
            padding-left: 37px;
        }
    }
    .bee-left{
        margin: 0 0 0 auto;
        text-align: left;
    }
    .bee-right{
        margin: 0 auto 0 0;
        text-align: left;
    }
    .bee-max-width{
        max-width: 33%;
    }
    .bee-profile-image {
        position: relative;
        height: 120px;
        width: 120px;
        margin: 0px auto 35px;
    }
    .bee-hexagon {
        clip-path: url(#hexagonPath);
        background-image: url(../../assets/imgs/homme.png);
        background-position: -3px -15px;
        height: 100%;
        img{
            min-width: 114px;
        }
    }
    .bee-edit-icon {
        height: 25px;
        width: 25px;
        position:  absolute;
        // background-color: crimson;
        bottom: 7px;
        right: 20px;
        border-radius: 50%;
        cursor: pointer;
    }
    .bee-edit-photo{
        background-image: url(../assets/imgs/change_pic.png);
    }
    .bee-separator {
        position: relative;
        height: 1px;
        width: 42px;
        background-color: gray;
        color: gray;
        margin:auto;
    }
    .bee-separator::before,
    .bee-separator::after{
        content: ".";
        text-align: center;
        line-height: 1px;
        font-size: 25px;
        font-weight: 900;
        display: block;
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        top: -9px;
    }
    .bee-separator::before{
        left: -24px;
    }
    .bee-separator::after{
        right: -24px;
    }
    
    .bee-separator-full,{
        background-color: #FB6B94;
        color:#FB6B94;
    }
    .bee-separator.bee-separator-full::after, .bee-separator::before{
        color: #FB6B94;
        border: 1px solid;
    }
    .bee-signup-form {
        margin-top: 67px;
        color: white;
        font-size: 12px;
        font-weight: 100;
    }
    .bee-form-section {
        position: relative;
        // background-color: beige;
        min-height: 33px;
        margin: 19px 0;
        color: white;
        font-size: 12px;
        & .button{
            width: 100%;
            border-radius: 20px;
            background-color: #FB6B94;
            text-transform: none;
        }
    }
    .bee-form-section.bee-form-section-button{
        margin: 58px 0;
    }
    .bee-onethird {
        width: calc(33% - 15px);
        // background-color:  red;
        height: 100%;
        display: inline-block;
        margin: 0 7px;
    }
    .bee-half {
        width: calc(50% - 15px);
        height: 100%;
        display: inline-block;
        margin: 0 6px;
    }
    .bee-twothird {
        width: 70%;
        height: 100%;
        display: inline-block;
        margin: auto;
    }
    .bee-center {
        display: block;
        margin: 0 auto;
    }
    
    .bee-left{
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        margin: 0;
    }
    .bee-right{
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        margin: 0;
    }
    .bee-input-transparent{
        border-radius: 20px;
        height: 35px;
        width: 100%;
        background-color: rgba(0,0,0,0.2);
        padding-left: 45px;
        border:none;
        color:white !important;
        &::placeholder {
           color: white;
           font-size: 11px;
        }
     
     }
     select.beego-input-transparent, .select.beego-input-transparent{
        -webkit-appearance: none;
        background-image: url(../assets/imgs/arrow_down.png);
        background-repeat: no-repeat;
        background-position: right 15px top 16px;
     }
     .select.beego-input-transparent{
         padding: 8px;

     }
     .beego-input-transparent.beego-icon-gov{
        background-image: url(../assets/imgs/gov.png),url(../assets/imgs/arrow_down.png);
        background-repeat: no-repeat;
        background-position: 12px ,right 15px top 16px;
    }
     .bee-onethird .bee-input-transparent{
         padding-left: 10px;
     }
    .bee-label{
        position: relative;
        display: inline-block;
        width: 100%;
        left: -14px;
        font-size: 12px;
        font-weight: 100;
    
    }
    .bee-radio {
        background-color: rgba(4, 4, 4, 0.37);
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: -3px;
        left: 79px;
        border-radius: 50%;
    }
    
    .bee-input-hidden{
        position: absolute;
        visibility: hidden;
    }
    input:checked + .bee-radio-blue{
        background-image: url(../assets/imgs/blue-dot.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    input:checked + .bee-radio-pink{
        background-image: url(../assets/imgs/pink-dot.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .bee-text-center{
        text-align: center;
        font-size: 11px;
        font-weight: 100;
    }
    .bee-text-spacement{
        font-size: 9px;
        letter-spacing: 3px;
    }
    
    .beego-icon-tel{
        background-image: url(../assets/imgs/tel.png);
        background-position: 12px;
        background-repeat: no-repeat;
    }
    .beel-skip-button{
        background-image: url(../assets/imgs/arrow_right.png);
        background-position: right;
        background-repeat: no-repeat;
        font-size: 14px;
        padding-right: 10px !important;
        margin-right: 19px;
        font-weight: 100;
        text-transform: none;
    
    }
    .bee-text-normal {
        text-transform: none!important;
    }
    //---------------------------------------------------------------
    .bee-row {
        width: 100%;
        position: relative;
        &:after{
            content:"";
            clear: both;
        }
    }
    .bee-col-half-left {
        width: 50%;
        position: absolute;
        left: 0;
        top: 0;
        text-align: right;
        padding-right: 56px;
        &>div{
            float: right;
        }
    }
    .bee-col-half-right {
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
        padding-left: 56px;
        
    }
    .bee-col-auto-center {
        width: 96px;
        position: relative;
        margin: auto;
        position: relative;
        z-index: 1;
    }
    .bee-left{
        right:10px;
        left: unset;
    }
    .bee-right{
        left:10px;
        right: unset;
    }
    .bee-signup-btn {
        position: relative;
        margin: auto;
        width: 192px;
    }
    .bee-margin1{
        margin-top: -12px;
    }
    .bee-margin2{
        margin-top: 27px;
    }
    .bee-margin3{
        margin-top: 22px;
        margin-bottom: 22px;
    }
    .bee-margin4{
        margin-top: 59px;
        margin-bottom: 46px;
    }
    
}
