page-parametre-du-compte {
    .beego-title-list-follows{
        position: relative;
        font-size: 14PX;
        text-align: center;
        color: white;
    }
    .back{
        position: absolute;
        top: 40%;
        z-index: 99;
    }
    .back-button-followlist{
        background-color: transparent;
        width: 65px;
        
        
     } 
      .back-img{
        width: 64%;
          
      }

}
